[2016-08-10 17:11] rufuspollock opened #1 "Get an ASN dataset (and store in a repo as a data package)"
Data source:

`curl https://stat.ripe.net/data/country-resource-list/data.json?resource=at`

Documentation: https://stat.ripe.net/docs/data_api#CountryResourceStats

Probably store as a Tabular Data Package in its own dedicated repo.

[2016-08-10 17:14] aaronkaplan commented on #1
Also JSON - both are valuable

[2016-08-10 17:16] aaronkaplan opened #2 "Reference data sets [super]"
# Needed
- [ ] IP2ASN datasets  - including historic data
- [x] Country2ASNs datasets  (See #1 ) - also historic ones if possible. Or keep a history of them
- [ ] Maxmind/GeoIP
- [x] Country ; population
- [x] Country ; number of announced IP addresses
- [x] Risk inventory (list of risks with url friendly identifier, type, description ...)

[2016-08-13 09:21] rufuspollock opened #3 "Decide on Infrastructure Provider and Do Basic Setup"
Current suggestion is AWS. We do need a decision to move forward on provisioning.

Basic setup
- [x] Sign up, add credit card etc
- [x] Set up admin users for relevant team members (e.g. IAM admin with console access)

[2016-08-13 09:21] rufuspollock commented on #3
@aaronkaplan this is a blocker for other activities so useful to get this working asap ...

[2016-08-16 15:15] rufuspollock commented on #1
@aaronkaplan it would be useful to get this for work on frontend. Do you know who will lead on scraping this and what the ETA is?

[2016-08-16 16:00] aaronkaplan commented on #1
Hi, yes I could automate fetching this . However the better person for that would be @chorsley actually.

[2016-08-16 17:24] aaronkaplan commented on #1
Done. Check out this repo: https://github.com/cybergreen-net/reference_data
Would be happy if you guys can make a data package out of it.

[2016-08-16 17:24] #1 closed, assigned to nobody

[2016-08-17 00:06] rufuspollock commented on #2
Existing datasets for e.g. population, GDP, country codes in core datasets project:

http://data.okfn.org/data/

Especially:

http://data.okfn.org/data/country-list
http://data.okfn.org/data/country-codes

Datasets are actually stored on github at https://github.com/datasets/ e.g.

https://github.com/datasets/country-codes/

[2016-08-17 00:24] aaronkaplan commented on #2
How are they updated automatically?

In other words: do I need to care to keep them up to date from some authoritative source (such as ISO) or does someone else take care of that?
And for how long and under what guarantees?

[2016-08-17 02:10] chorsley commented on #2
I imagine we'll need to develop some periodic background process which does a fetch, validation, and commit to Git for each authoritative source we select. Maxmind already has this mechanism (https://github.com/maxmind/geoipupdate) but we'll need to design something more generic.

We will need to do some calculations on the data volumes this might generate for the reference dataset repo, but Git i

[2016-08-18 09:44] rufuspollock commented on #2
@aaronkaplan

They are updated either manually or by automated scripting. Most of those only change quite slowly (e.g. annually).

No, you don't need to take care. If you wanted an SLA you could probably pay for one ;-) (I run that project).

@chorsley at the start here I'd suggest we keep it very KISS - that is do the simplest think possible which is a one-off scrape. We can automate all of this

[2016-08-18 09:49] rufuspollock commented on #2
@aaronkaplan re reference datasets one thing i would recommend is that we adopt a one repo per dataset policy (at least roughly). E.g. ASNs would be one repo, GDP another.

[2016-08-18 13:42] chorsley commented on #2
@rgrp I was of a mind to keep them together in a single repo, or broken into use case (e.g. data platform enrichment / stats analysis). We'll probably always use these datasets together, so it would make deployment and management easier if you can pull everything from one place, or we can just download the raw file for a particular dataset if we want to isolate a single file and version. One issue

[2016-08-18 13:43] aaronkaplan commented on #2
Feel free to re-arrange please.

[2016-08-18 13:44] aaronkaplan commented on #2
I tend to agree with Chris here, but... if you two guys decide that separate repos make more sense, then please feel free to re-arrange it.
okay?

[2016-08-18 15:11] aaronkaplan commented on #3
You should have received the credentials, pls. confirm that you can log in & close this issue.

[2016-08-19 17:04] aaronkaplan commented on #3
ping @rgrp ?

[2016-08-20 09:07] kxyne commented on #3
My account works, haven't spun anything up but roles are present.

On Sat, 20 Aug 2016, 03:04 AaronK notifications@github.com wrote:

M: +61-418-695-199
E: kayne.naughton@cosive.com
W: www.cosive.com

[2016-08-22 06:42] rufuspollock commented on #3
I'm setup - as per @kxyne have not spun anything up yet.

[2016-08-22 06:46] rufuspollock commented on #2
@chorsley the one repo per dataset can be easier in that:
- Its one repo for one job. This is just cognitively a bit simpler and it makes it easier for contributors to dive in (esp in future)
- It avoids too much duplication. E.g. country codes may end up in every use case repo - you have the same code and data in multiple locations
- It makes the alignment with data packages a little bit simpler

[2016-08-22 07:40] kxyne commented on #2
Best of both worlds is probably https://git-scm.com/book/en/v2/Git-Tools-Submodules if I understand you correctly.

[2016-08-22 08:18] rufuspollock commented on #2
@kxyne yes!

[2016-08-24 14:26] chorsley opened #4 "Handling IPv6 data"
We are yet to see many feeds supplying IPv6 data, but given the expected life of the project, this will (hopefully) change. We need to consider how we might handle that at all stages of the pipeline, and not assume IPv4.

[2016-08-26 11:29] rufuspollock commented on #3
FIXED.

[2016-08-26 11:29] #3 closed, assigned to nobody

[2016-08-26 11:40] rufuspollock opened #5 "Setup bits.cybergreen.net and private.bits.cybergreen.net s3 repo"
- [x] Set up s3 buckets
- [x] Configure DNS. CNAMEs for
  - private.bits.cybergreen.net -> https://private-bits-cybergreen-net.s3.amazonaws.com/
  - bits.cybergreen.net -> https://bits-cybergreen-net.s3.amazonaws.com/

[2016-08-26 11:45] rufuspollock commented on #5
@aaronkaplan can you ask Moto-san to set up DNS

[2016-08-26 11:46] rufuspollock commented on #5
@chorsley / @kxyne do you want to check access to those buckets work for you now?

[2016-08-26 12:03] rufuspollock opened #6 "Risk list / taxonomy dataset (Reference)"
We already have a start on this here in our google doc: https://docs.google.com/spreadsheets/d/1PosJEjJ-exlPER8ycVwWtDdQOuCsj-41Ctiuts7qGVY/edit#gid=0

Turn this into a simple repo.

Key fields:
- id
- category
- title
- description

[2016-08-26 12:05] rufuspollock opened #7 "Structure of "private" bitstore"
[code]
### Clean folder dataset and file names

Dataset:

[code]

File names - if partitioned by time

[code]
## Questions
- Do we structure `clean/` by risks so we have subfolders named by risk
- Do we partition clean data _files_ by time period to make them smaller. E.g. partition by month
- should `clean` always only have one set of data or do we want to support multiple runs (that might mean d

[2016-08-26 12:07] rufuspollock commented on #7
@aaronkaplan @chorsley @kxyne let me know your thoughts esp re questions ...

[2016-08-26 12:09] rufuspollock opened #8 "First sample of clean disaggregated data in bitstore"
- Location: private.bits.cybergreen.net/clean/ as per structure agreed in #7
- Tabular Data Package per risk with {risk-id}.csv
  - Format as per tech architecture document (TODO document this in a repo)
- Prefer smaller “sample” dataset atm - so happy with 1:10 sampling

Planned due date: Tues 30th 6pm GMT

@chorsley @kxyne creating out of our call earlier today.

[2016-08-26 12:15] aaronkaplan commented on #6
I'd like to see that in the reference data  repo (without the counts of course).

[2016-08-26 12:49] rufuspollock commented on #6
@aaronkaplan ok - i think one repo per dataset makes sense here so I'd suggest a single dedicated repo for this one.

[2016-08-26 13:08] aaronkaplan commented on #6
---

Mobile

I think we talked about subrepos, right?
I'd like to have one place reference-data/ where I can find all sub repos.

[2016-08-30 06:50] rufuspollock opened #9 "ASN page on stats site"
- [ ] First pass design for page
- [ ] Implement first pass
## Aaron thoughts

Below are some ramblings/thoughts on the ASN visualisation:

IMHO this is a bit tricky because there are so many ASNs to display.
I also created a country2asn CSV file in the github reference-data/ repo (github.com -> cyber-green/reference-data). Hope it helps. This would be one possible way to make a map of the ASNs (s

[2016-08-30 06:52] rufuspollock commented on #8
@chorsley @kxyne did you see this?

[2016-08-30 08:08] chorsley commented on #9
I love me some tree maps, +1 to try that first :) There are some great implementations out there that allow dynamic filtering (e.g. by cc) and zooming, as well as drilling into underlying data.

[2016-08-30 08:16] chorsley commented on #7
We should also account for live / dev data in the dir structure, e.g.

[code]

We can also create per-developer dirs as necessary during experiments.

At all stages of our processing, we also need to explicitly set the mode which modifies production data, and have dev be the default to avoid accidental deletion and modification from errant scripts as much as possible.

[2016-08-30 08:17] chorsley commented on #8
@rgrp It's probably not going to be today as we've been looking at the date issues as discussed, but it's on the schedule for tomorrow.

[2016-08-30 11:17] chorsley opened #10 "Data issues: open DNS resolver"
More info about methodology at https://www.nanog.org/sites/default/files/tue.lightning3.open_resolver.mauch_.pdf.

Issues to date with the open DNS resolver data and how we deal with it:
- [ ] Currently not accounting for RCODE: a value of 5 indicates the query was refused, for example.
- [ ] Currently not accounting for potential volume of amplification. We currently don't have bytes returned to

[2016-08-30 11:23] chorsley opened #11 "Data issues: NTP"
The following filtering possibilities with NTP data have been observed so far:
- [ ] Amplification factor not taken into account yet, though we do have the byte count of responses to help us here.
- [ ] ["stratum" value in NTP data](https://en.wikipedia.org/wiki/Network_Time_Protocol#Clock_strata) might tell us how intentionally the server is designed to be used for public consumption. A value of

[2016-08-30 13:14] rufuspollock commented on #6
Yes, no problem. We can easily have one place.

[2016-08-31 19:32] rufuspollock commented on #7
my suggestion would be to leave current layout and have that is prod and if we need `dev` then we just have `/dev/` as a space and reproduce structure inside it (as you suggest). ie.

[code]

[2016-09-01 01:42] chorsley commented on #7
I'd argue for each dir structure having the same depth from the root for consistency. This lets us set an environment var to neatly set the base dir without needing to handle special cases, e.g. /{env}/raw/dataset1/, so you could have:

[code]

[2016-09-01 07:34] chorsley commented on #5
Just recalled something that has been a bugbear in the past:

http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html

Because of this, the CNAMEs may be the same as above, but they may live on AWS at:

https://private-bits-cybergreen-net.amazonaws.com/
https://bits-cybergreen-net.amazonaws.com/

[2016-09-01 11:31] rufuspollock commented on #5
@chorsley ok - so shall we delete these buckets and create new ones? Note we cannot rename buckets.

[2016-09-01 11:35] rufuspollock commented on #7
@chorsley ok, good with me - though I'd imagine that pointing at the root directory for a given set of material is configurable in pretty much all clients so having it at different levels does not matter.

Re user directories: I'd still argue for simple `/user/{xyz}/`. I'd anticiapted user directories could be used for anything and need not reproduce the raw / clean structure. In addition, having

[2016-09-01 12:02] chorsley opened #12 "Logging platform selection"
Requirements for logging:
- Centralised logging in cloud or distributed systems
- Ability to log locally if desired, rather than remote provider
- Ideally, alerting built in (if a logging platform)
- Ability to alert on thresholds (e.g. error volume) or conditions
- Granularity for severity, source, category etc.
- Dashboard for metric (e.g. parsing failures per hour)

[2016-09-01 12:04] chorsley commented on #12
Early candidates:
- https://www.datadoghq.com/ ($15 / host / month, no volume limit?)
- https://aws.amazon.com/cloudwatch/

[2016-09-02 07:59] chorsley commented on #5
Yes, let's create new ones then. I'm happy to take care of this - will co-ordinate this early next week with @kxyne. @rgrp are you pushing anything up to S3 at the moment?

[2016-09-02 10:40] rufuspollock commented on #8
@chorsley any update?

[2016-09-05 15:15] rufuspollock commented on #5
@chorsley not pushing anything. I was going to do this last week but saw you had stuff in there. I'll let you do this so you can coordinate with @kxyne. Just let me know when this is done. I assume we also want to rename the "logging" bucket.

[2016-09-05 16:35] aaronkaplan commented on #12
I recommend abstracting the logging into two parts:
- logging for info/debug/warning etc purposes (-> use python default logger )
- logging for performance monitoring. (-> simply go for datadoghq for the moment. It's OKay'ed by mgmt).

[2016-09-06 08:42] chorsley commented on #5
I've now renamed all buckets (i.e. deleted old buckets), so we now have:

bits-cybergreen-net
logs-bits-cybergreen-net
private-bits-cybergreen-net

Not logging just yet, but will enable once we've had a look at logging platforms and the best ways to handle that.

[2016-09-06 08:45] chorsley commented on #5
@rgrp Do we still have a need for the CNAME setup, and is there a request outstanding already for that?

[2016-09-06 10:27] rufuspollock opened #13 "Acquistion of Risk Logfile Data for beta 2"
Data is acquired and is on Aaron's private machine. <del>on S3 private bucket</del>

Check an item once we have the logfile data **and** uploaded to s3 private bucket.
- [x] OpenNTP
- [x] OpenDNS
- [x] Spam
- [x] SNMP
- [x] SSDP

[2016-09-06 10:30] rufuspollock commented on #7
@chorsley i am increasingly think that raw does _not_ go inside a particular "run" subdirectory - it is independent. `raw` is a long-term archive and we store stuff there permanently independent of ETL runs.

So:

[code]

[2016-09-06 10:44] rufuspollock opened #14 "Enrich cleaned data (standard across risks)"
- [x] Enrich - ASN and country code
- [x] Store in output DataStore as a Data Package

Extras
- [x] test harnesses for all or some of this

[2016-09-06 10:44] rufuspollock opened #15 "Clean Raw Data: SNMP"
This should run AWS.
- [x] Fetch and uncompress
- [x] Sample (?) - maybe at rate 1
- [x] Clean - filter
- [x] Parse - put into standard internal format

[2016-09-06 10:44] rufuspollock opened #16 "Clean Raw Data: SSDP"
This should run AWS.
- [x] Fetch and uncompress
- [x] Sample (?) - maybe at rate 1
- [x] Clean - filter
- [x] Parse - put into standard internal format

[2016-09-06 10:45] rufuspollock opened #17 "Clean Raw Data: OpenDNS"
This should run AWS.
- [x] Fetch and uncompress
- [x] Sample (?) - maybe at rate 1
- [x] Clean - filter
- [x] Parse - put into standard internal format

Extras:
- [ ] test harnesses for all or some of this

[2016-09-06 10:45] rufuspollock opened #18 "Clean Raw Data: OpenNTP"
This should run AWS.
- [x] Fetch and uncompress
- [x] Sample (?) - maybe at rate 1
- [x] Clean - filter
- [x] Parse - put into standard internal format

[2016-09-06 10:45] rufuspollock opened #19 "Clean Raw Data: Spam"
This should run AWS.
- [ ] Fetch and uncompress
- [ ] Sample (?) - maybe at rate 1
- [ ] Clean - filter
- [ ] Parse - put into standard internal format

[2016-09-06 10:46] rufuspollock commented on #11
@chorsley suggest we merge this with #18 - wdyt?

[2016-09-06 10:51] rufuspollock opened #20 "Produce aggregate data from clean, enriched disaggregated data"
- [x] Produce `entries.csv`
  - The lowest level of granularity is week
  - How do we handle same IP turning up for same risk in same week: ignore - only count once (?) - see #42
  - Do we slice by risk for entries.csv? No.

[code]

[2016-09-06 10:52] rufuspollock opened #21 "Specify v1 API for aggregate data"
This was already largely done in the original tech specification. We may make some minor updates though.

[code]

Query options for `count`:
- Limit: Query results should be default limited to 20 items. (Use LIMIT In SQL). Can be changed using `?limit=`. Max value for limit should be 500.
- Sort: sort in time order backwards (so latest data first by default) and sort by country id alphabetically

[2016-09-06 10:54] rufuspollock opened #22 "Migrate frontend to nodejs app from pelican"
- [x] base app
- [x] redo core config variables
- [x] load data from csv
- [x] home page
- [x] place pages
- [x] heroku deploy ...
- [x] ... - see dedicated repo ... https://github.com/cybergreen-net/stats-new/issues

[2016-09-06 11:03] chorsley commented on #7
Does "run" in this context mean the environment, e.g. dev, prod? I'd personally want to keep that distinction still, so we can isolate a small batch of files to put in the dev directory when we're testing connectivity on a full run.

This also lets us run testing on our collection methods, so we can try our new collection scripts writing files into dev before we unleash it on prod.

There may well

[2016-09-06 11:05] chorsley commented on #11
Sure - adding above points into #18  and closing this.

[2016-09-06 11:05] #11 closed, assigned to nobody

[2016-09-06 11:05] chorsley commented on #18
The following filtering possibilities with NTP data have been observed so far:
- [ ] Amplification factor not taken into account yet, though we do have the byte count of responses to help us here.
- [ ] ["stratum" value in NTP data](https://en.wikipedia.org/wiki/Network_Time_Protocol#Clock_strata) might tell us how intentionally the server is designed to be used for public consumption. A value of

[2016-09-06 11:06] chorsley commented on #10
Merging into #17.

[2016-09-06 11:06] #10 closed, assigned to nobody

[2016-09-06 11:06] chorsley commented on #17
More info about methodology at https://www.nanog.org/sites/default/files/tue.lightning3.open_resolver.mauch_.pdf.

Issues to date with the open DNS resolver data and how we deal with it:
- [ ] Currently not accounting for RCODE: a value of 5 indicates the query was refused, for example.
- [ ] Currently not accounting for potential volume of amplification. We currently don't have bytes returned to

[2016-09-06 12:16] chorsley opened #23 "Proposal: dev wiki setup"
I'd like to propose establishing a planning / dev wiki here on the pm repo. It would incorporate some of the GDocs we have floating around.

This would primarily be for spec drafts in development. Official, public docs would live somewhere else.

[2016-09-06 14:43] rufuspollock commented on #7
My point is that raw data we get in from partners needs to be permanently archived somewhere and this is purpose of `raw/`

Runs - whether for dev or prod may run off specific raw data and that can / should be configurable. We don't want to have to duplicate (massive) raw files into several `/dev/ /prod/ /prod-2/` directories. Remember we never write to "raw" files - they are always read from.

`r

[2016-09-07 11:14] chorsley commented on #7
One small distinction there - "raw" files are _mostly_ read, but must be written at least once, during the collection cycle. Collection is simple at the moment, just straight SCP file transfers, but this will get a little more involved as time goes on (extracted from emails, scraped from web pages, RSS feeds, merged from multiple sources etc).

The /dev/raw/ area is designed for prototyping experi

[2016-09-07 15:08] rufuspollock commented on #7
I spoke with @chorsley and we have now resolved this as follows:

[code]

@chorsley will implement going forwards as he writes to the S3 bucket.

We also noted that:
- it is likely that data collection demands may increase in future leading to more work around `/raw/` directory. However, this is not something that is a focus in this iteration.
- we may even move `/dev/` to separate bucket to have

[2016-09-07 15:08] rufuspollock commented on #7
FIXED.

[2016-09-07 15:08] #7 closed, assigned to rufuspollock

[2016-09-08 08:33] chorsley commented on #8
The data is now available in private-bits-cybergreen-net under /dev/clean/dns-scan. This is 1:10 sampled, enriched data for 3 weeks in August, format is:

timestamp, risk id, IP address, ASN, country code.

[2016-09-08 08:37] aaronkaplan opened #24 "Get risks as a proper reference dataset"
Currently on the server we have a table risks in the postgresql DB.
Please dump it as CSV and put it to the reference data repo so that we have a clearly defined mapping risk_id -> risk name

Thx

[2016-09-08 09:58] GregoryRhysEvans opened #25 "New frontend repo"
- [x] Create stats-new
- [x] Rename old repo to stats-old

[2016-09-08 10:00] GregoryRhysEvans opened #26 "Set up RDS database for frontend"
- [x] Deploy in AWS console
- [x] Attach IP if necessary

[2016-09-08 10:06] rufuspollock opened #27 "Heroku account for CyberGreen for frontend deployment"
@YurieIto @aaronkaplan we recommend using heroku to deploy the frontend.

Can you sign up for an heroku account. It is free for now and means we will be ready when we need to do the proper deploy.

[2016-09-08 10:10] aaronkaplan commented on #27
@rgrp First I want to see that this runs also locally. It's a _must_.
Sorry. I insist that this can run locally on any web server.

To be clear: I was thinking of some kind of deploy.py script as we had before with the old stats site and docs on prerequisites (packages, nodeJS, etc).

[2016-09-08 14:07] rufuspollock opened #28 "Deploy redshift for trial usage for aggregation"
- [x] Create IAM Role for Redshift access to S3 - `RedshiftCopyUnload`
  - Should have read/write access to S3 (write as we need to write output afterwards)
- [x] Create Redshift cluster with associated IAM Role

Late: Shutdown cluster (later)

[2016-09-08 16:21] GregoryRhysEvans commented on #25
This is complete. Content to follow.

https://github.com/cybergreen-net/stats-new

[2016-09-08 16:21] #25 closed, assigned to nobody

[2016-09-08 17:19] rufuspollock commented on #27
@aaronkaplan it can be run locally. Its a node js app. There will be full docs (and there are already on how to run locally).

Having built a lot of these apps i really recommend deploy to heroku. However, I leave it up to you as to how you decide ultimately to deploy.

For go live in September I would request we use heroku as it will be very quick and sysadmin-less to deploy new versions (git pus

[2016-09-08 17:20] rufuspollock commented on #24
@chorsley i think it would probably be better to port the google spreadsheet we already have since that has additional info.

What do people think?

[2016-09-09 00:16] chorsley commented on #8
There is now a second risk type, ntp, under /dev/clean/ntp-scan. Additionally, we now have /dev/clean/risk_ids.json which explains how the numeric risk IDs map to string identifiers.

Please also note - it's highly likely we'll review these path names, so please treat these as "yet to be confirmed".

[2016-09-09 00:19] chorsley commented on #24
I've added to S3 @ /dev/clean/risk_ids.json for the moment, based on the Postgres table. (Note - I don't have rights to close the issue, so please feel free if you're satisfied with this).

@rgrp which spreadsheet are you referring to? If it's the "CERT Feeds Data Inventory", the numeric risk IDs that actually appear in our current ETLv1 data don't appear to be listed here.

[2016-09-09 00:23] chorsley commented on #13
Does this have overlap with #8 ? Is the distinction to have full datasets under #8 , or for these to be generated with ETLv2?

[2016-09-09 07:22] rufuspollock commented on #25
@GregoryRhysEvans great - can you link to new repo. (Great practice to link to outputs or results when closing the issues).

[2016-09-09 07:23] motok commented on #5
Hello, this is moto kawasaki from Tokyo/JPCERT.
I'd suggest to create S3 bucket 'bits.cybergreen.net', CNAME it to the real FQDN under amazons.com, and install SSL cert for 'bits...'.
SSL Cert issue Chris mentioned above is not for our case, because they are talking that the SSL cert prepared by amazon is suitable for 'some-name-under.amazonaws.com' but NOT for 'some.name.under.amazonaws.com' (per

[2016-09-09 07:48] rufuspollock commented on #13
@chorsley i'm confused this is issue #13 ...

[2016-09-09 07:50] rufuspollock commented on #24
@chorsley i mean the risk and places inventory from old version in May: https://docs.google.com/a/atomatic.net/spreadsheets/d/1PosJEjJ-exlPER8ycVwWtDdQOuCsj-41Ctiuts7qGVY/edit?usp=drive_web (minus the summary statistics)

[2016-09-09 08:02] chorsley commented on #5
hi @motok, if it makes no difference from your perspective, I'd like to keep the some-name-under bucket naming if we can, as I've run into troubles with dotted names on S3 before from some clients (e.g. AWS CLI tools). It would be good to have the same availability under both the CNAME and the amazonaws.com name.

[2016-09-09 08:06] chorsley commented on #24
The IDs in the data files to date are based on IDs in Postgres, which don't appear to be in the spreadsheet you linked. I think it's best to stick with the risk_ids.json for now, at least until ETLv2. We'll have a smoother way of dealing with this then, likely self-descriptive string IDs in the file.

[2016-09-09 08:07] chorsley commented on #13
@rgrp whoops, edited to be #8.

[2016-09-09 08:15] chorsley opened #29 "Enable MFA for all AWS users"
All users with AWS access should have multi-factor authentication (MFA) enabled for their accounts. Instructions using Google Authenticator or similar at:

http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_mfa_enable_virtual.html

[2016-09-09 08:17] chorsley commented on #29
@rgrp could you please arrange this for yourself and your colleagues?

[2016-09-09 08:50] motok commented on #5
Thanks Chris as always,

I am OK with hyphen style.
So, I will make TTL for the CNAMEs longer later.
Thank you very much.

moto

[2016-09-09 09:23] aaronkaplan commented on #24
okay.. adding this + explanations of the risk into a JSON/CSV file might be really useful. However, the old list did not contain id numbers (ints).
Our ETL process builds on top of ints for risk_ids.

Best,
a.

[2016-09-09 11:18] rufuspollock commented on #13
@chorsley sort of. This is the "raw" data being up in the bitstore. Not the cleaned the data.

[2016-09-09 11:19] rufuspollock commented on #24
@aaronkaplan are we using ints because of size efficiency considerations?

I guess it will help but make the data a bit less "readable". That said space savings esp when we save to CSV may make this worth it.

Either way let's add  the integer ids to the google doc / CSV and export it.

[2016-09-09 11:35] rufuspollock commented on #29
@chorsley can we postpone this to the end of next week. We will get on this, however behind other items.

[2016-09-11 06:15] rufuspollock commented on #23
@chorsley +1 on point of getting docs here into a repo. Only suggestion would be to use repo itself rather than bother with the wiki e.g. create a directory /doc/ and start populating it.

[2016-09-11 06:56] rufuspollock commented on #8
@chorsley couple of quick comments based on use:
- Can we get header line in the CSV files by default i.e. first line is column headings
- Can the date field just be data or do we need time e.g. `2016-08-05` vs `2016-08-05 02:00:06.0+00`?
- If we compress can we put compression as last part of file name e.g. xyz.csv.gz rather than xyz.csv.gz
- Generally you don't need to sort data export by time -

[2016-09-11 10:21] aaronkaplan commented on #23
@chorsley I prefer a regular doc/ folder as well with markdown text

[2016-09-12 00:42] chorsley commented on #23
@rgrp @aaronkaplan Yep, no problem having it part of the repo. I've added a docs dir now - please close this issue if I can get a +1 for this approach.

[2016-09-12 01:43] chorsley commented on #1
For future reference, ftp://ftp.ripe.net/pub/stats/ contains historical info for all RIRs, could be used for both geolocation (accuracy compared to Maxmind?) and ASNs. Would need a good amount of processing and merging before use, however.

[2016-09-12 06:48] rufuspollock commented on #26
@GregoryRhysEvans can this be marked as fixed? We may need to redeploy to eu-west but that can be done in another issue i think.

[2016-09-12 06:49] rufuspollock commented on #23
FIXED.

[2016-09-12 06:49] #23 closed, assigned to nobody

[2016-09-12 07:56] GregoryRhysEvans commented on #26
@rgrp OK, we can mark this as done and do the redeploy separately.

[2016-09-12 07:56] #26 closed, assigned to GregoryRhysEvans

[2016-09-12 09:50] chorsley commented on #8
@rgrp follow ups:

We will make sure the ETLv2 produces this. I'll do that if / when we do another run with ETLv1.

There's likely some interesting analysis we can do here, like working out the distribution of a scan over time, or calculating biases towards a particular time of day. So, I'd prefer to keep this in.

Yes, this was a quick hack on my part - I just tacked the .csv extension after the

[2016-09-12 10:14] rufuspollock commented on #5
FIXED.

[2016-09-12 10:14] #5 closed, assigned to rufuspollock

[2016-09-12 10:15] rufuspollock opened #30 "bits.cybergreen.net as a website bucket"

[2016-09-12 10:21] rufuspollock commented on #9
FIXED in terms of a first pass. http://cybergreen-stats.herokuapp.com/place/united-kingdom/asn/4585458

[2016-09-12 10:21] #9 closed, assigned to rufuspollock

[2016-09-12 10:24] aaronkaplan commented on #27
Re: " it can be run locally." Good!
That's important for me.
As long as we are 100% sure we can always run on a local instance on a standard off the shelf Debian/Ubuntu server, I am fine with having it run on heroku as well.

[2016-09-12 10:25] rufuspollock commented on #22
FIXED. See http://cybergreen-stats.herokuapp.com/

[2016-09-12 10:25] #22 closed, assigned to rufuspollock

[2016-09-12 10:26] aaronkaplan commented on #16
please be sure to use anonymised IPs.

[2016-09-12 10:27] rufuspollock opened #31 "www.cybergreen.net properly themed and ready to go"
- [x] Meeting for feedback
- [x] Feedback incorporated
- [x] Site themed
- [x] Frontpage redone

[2016-09-12 10:28] rufuspollock opened #32 "www.cybergreen.net - first pass on content migration"
- [x] key content moved over (see gdoc)
  - [x] home page (very rough)
  - [x] who we are
  - [x] what we do
- [x] basic theme

[2016-09-12 10:28] rufuspollock commented on #32
FIXED. See http://inventory.cybergreen.net/

[2016-09-12 10:28] #32 closed, assigned to nobody

[2016-09-12 10:29] rufuspollock commented on #31
FIXED. See http://inventory.cybergreen.net/

[2016-09-12 10:29] #31 closed, assigned to rufuspollock

[2016-09-12 10:33] aaronkaplan commented on #20
re: same IP turning up in the same risk in the same week -> ignore. It gets deduped

[2016-09-12 10:36] rufuspollock commented on #8
To complete what remains:
- [x] All 5 types of data in there
- [x] Tidying up structure / naming as per previous comment
- [x] `datapackage.json` in place (and auto-generated)

[2016-09-12 10:52] #13 closed, assigned to chorsley

[2016-09-12 11:02] rufuspollock opened #33 "Automate AWS infrastructure deployment"
Automate all of above (probably using terraform)
- [ ] S3
- [ ] Redshift
- [ ] RDS
- [ ] Lambda

[2016-09-12 11:03] rufuspollock commented on #28
FIXED. Done as of today.

[2016-09-12 11:03] #28 closed, assigned to rufuspollock

[2016-09-12 11:09] rufuspollock opened #34 "Draft document about data improvements"
- [ ] reach out for comparative data
- [ ] do some analysis and summarize in a doc for stats group
- [ ] Determine data features that indicate threat level (i.e. amplification factors)

[2016-09-12 11:10] rufuspollock opened #35 "Create test harness for ETL process"
- [ ] ...

[2016-09-12 11:12] rufuspollock opened #36 "www.cybergreen.net - final improvements and go live"
- [x] Final fixes
- [ ] Change DNS
- [ ] Old site moved to old.cybergreen.net (may need to liase with secure decisions)

[2016-09-12 11:12] chorsley opened #37 "Cost calculations for AWS storage"
What do S3 and Glacier cost per GB / TB with the amount of regular usage? How much would it cost us to store files over time?

[2016-09-12 11:24] rufuspollock opened #38 "Test documentation"
Test documentation: https://docs.google.com/a/atomatic.net/document/d/1qYBMuPrqD4PMbnpMSv2ZW_6DnnVMah5N5oMuIdDD5vc/edit?usp=sharing
- [ ] Write a brief summary <del>@ataslim </del> Cosive,Atomatic,Aaron
- [x] ETL tests - Cosive - #35
- [x] Frontend tests - Atomatic [DONE] - https://github.com/cybergreen-net/stats-new/tree/master/tests
- [ ] write-up of steps done for the frontend tests - Atomatic

[2016-09-12 11:30] rufuspollock opened #39 "Maintenance Log"
- [x] Extract from github issues?
- [x] Extract git commits

<del>Assigned to: Arastoo</del> Taken by Aaron

[2016-09-12 14:25] ataslim commented on #27
@rgrp heroku account created with a temporary PW. Let me know the best way to get that information to you.

[2016-09-13 08:04] rufuspollock commented on #19
@chorsley is this ready to close (as per discussion) yesterday - and ditto for other items like this in sprint 2?

[2016-09-13 08:06] rufuspollock opened #40 "ASN reference dataset improvements"
Currently we have country2asn dataset.

However, is there more metadata that we want  e.g. ISP information, size of ASN (e.g. no of IP addresses in it etc)?

cc @aaronkaplan @chorsley @kxyne

[2016-09-13 08:08] rufuspollock commented on #27
FIXED. @ataslim i or @GregoryRhysEvans can message you on skype.

[2016-09-13 08:08] #27 closed, assigned to rufuspollock

[2016-09-13 08:22] rufuspollock commented on #24
@aaronkaplan @chorsley can we agree on key columns we want here? Here's a first stab:
- id - name identifier e.g. openntp - sutiable for use in urls etc
- id_int - integer id for use in databases etc
- title - full title
- description
- category - _not so sure about this one but @aaronkaplan has mentioned that we want to group risks at some point_

[2016-09-13 08:47] aaronkaplan commented on #40
Yes there is.

Can you make a list / issue describing what you need.
I can either get that for you or point you to the right documentation on how to query that.

[2016-09-13 08:49] aaronkaplan commented on #24
If it's compressed CSV's the space savings argument is less valid IMHO.
However, right now we have ints for risk_ids. that's just how it is now.
We can of course change it to always expert the risk name in any large CSV dump of disaggregated data. Let us know your preference.
I prefer IDs right now and an extra small table risk_id -> risk name

a.

[2016-09-13 11:03] chorsley opened #41 "S3 bucket safeguards"
Security measures we can / should use for ensuring raw data on S3 buckets is private:
- [x] Separation of buckets storing raw and aggregate data
- [ ] Continual monitoring of private buckets looking for configuration errors. If private bucket is accessible anonymously, alert.
- [ ] Use of specific user roles for for dev / prod, raw / aggregate buckets. Reduce chance a config mistake pointing to wr

[2016-09-13 12:48] chorsley commented on #30
Now available to public at https://s3-eu-west-1.amazonaws.com/bits-cybergreen-net/prod/index.html and https://s3-eu-west-1.amazonaws.com/bits-cybergreen-net/dev/index.html.

We can lock down access to /dev/ to authed AWS users - not quite as streamlined a process as might be desired. Not sure if that's wanted yet, but we can reopen this / open a new ticket as needed.

[2016-09-15 11:49] rufuspollock commented on #41
@chorsley good points. Just on first point: raw and aggregate data are already supposed to be separate - raw is in private-bits and aggregate will be in bits.

[2016-09-15 11:51] chorsley commented on #41
@rgrp quite right - meant to check that box.

[2016-09-15 15:07] rufuspollock commented on #30
@chorsley great - and can we get it at http://bits.cybergreen.net?

[2016-09-16 08:18] aaronkaplan opened #42 "aggregation: please count every IP only once within an interval"
When aggregating (let's say the time window is 1 week), please only count every IP address once for a given risk/ASN/time window.

This is not ideal, there are a number of mistakes (such as DHCP churn) here, but ... it is better than overshooting in our data when it comes to counting the same IP multiple times due to scanning intervals.

In other words:

[code]

Note: this is a Sept-30th fix. We w

[2016-09-16 08:34] aaronkaplan opened #43 "allow for other geolocation lookup DBs"
- [x] Please take a look at how to replace maxmind by [ip2location](http://lite.ip2location.com/).
- [x] Compare the results / hit rate / accuracy and document it (and or link to accuracy comparisons)
- [x] If satisfactory, re-run the data with ip2location
- [ ] If satisfied with ip2location, consider commercial version.

In any case, please make it configurable which geolocation DB is to be used.

[2016-09-16 08:39] chorsley commented on #43
Also see #2 .

[2016-09-16 12:22] chorsley commented on #8
Just to update: seems like the CSV format is acceptable, so now working on getting all CSV sets up on S3 using ETLv2.

[2016-09-16 15:21] aaronkaplan commented on #29
@rgrp Are you guys ready for that? It's really simple, just download the google authenticator and click "enable MFA" on AWS.

[2016-09-16 17:31] GregoryRhysEvans commented on #29
@aaronkaplan We are ready, but we have one team member who does not have a smartphone. Are there alternatives to using the app?

[2016-09-17 06:53] chorsley commented on #29
@GregoryRhysEvans A few options are listed at https://aws.amazon.com/iam/details/mfa/. Perhaps SMS is an option?

[2016-09-17 09:25] aaronkaplan commented on #36
need exact info for chaning DNS

[2016-09-17 09:30] rufuspollock commented on #36
@YurieIto we have made most of the changes - we will put this up and then you can review and give ok on go live. We won't change DNS or anything until then.

[2016-09-19 06:26] rufuspollock commented on #8
@chorsley great! When do you think we'll have complete data in there?

[2016-09-19 06:34] rufuspollock commented on #20
This is DONE. However we do need to check on full dataset when we get it.

[2016-09-19 14:28] chorsley commented on #15
First full run available at dev/clean/snmp-data/, please test importing / aggregating. If there are no problems, can close this issue.

[2016-09-21 03:22] aaronkaplan opened #44 "Upload code to github"
Please do not forget to upload any AWS code (**without any hardcoded passwords**) into the proper github repository.

[2016-09-21 03:23] aaronkaplan commented on #44
Same is valid for the etl2 code, ping @chorsley , @kxyne -> please make a PR when appropriate.

[2016-09-24 06:34] rufuspollock commented on #40
@aaronkaplan as discussed previously right now the main thing would be something a bit more human readable about the ASN e.g. the operator ISP and the number of IPs in the ASN.

I have understood from the convos that this _could_ (somehow?) be sensitive. I've therefore held off here. I'm not sure who makes the call here. If we are not doing anything more now than we have we could close this issue

[2016-09-24 06:43] rufuspollock commented on #21
FIXED. See updated specification.

[2016-09-24 06:43] #21 closed, assigned to rufuspollock

[2016-09-24 06:48] rufuspollock commented on #35
@chorsley how is this doing /cc @aaronkaplan

What are the steps involved?

[2016-09-24 06:49] rufuspollock commented on #40
@aaronkaplan will you or Cosive take this on?

[2016-09-24 06:50] rufuspollock commented on #36
We have done fixes however waiting on content improvements from @ataslim

Changing owner to @ataslim

Looks like this will be delayed until ~ Sep 30th so changing milestone.

[2016-09-24 17:26] aaronkaplan commented on #40
---

Mobile

It will be Cosive.

[2016-09-25 13:40] GregoryRhysEvans opened #45 "Explanatory text for stats site"
Some text required to complete the stats site:
- [x] Text for /asn/ page: generic text about ASNs explaining what they are
- [ ] [Optional] Explanatory or general flavour text to go on /place/ page

[2016-09-26 08:24] rufuspollock commented on #12
@aaronkaplan @chorsley what's the status here?

Can this be pushed out beyond Sep 30?

[2016-09-26 08:26] rufuspollock commented on #43
@aaronkaplan @chorsley is this not a post sep 30 item? Seems not urgent and not super important if we have a working system currently ...

[2016-09-26 08:31] GregoryRhysEvans commented on #29
Fixed. @rgrp and myself have MFA enabled. @zelima does not own a smartphone and is in the process of getting the SMS service working; but does not need access to the console in the interim in any case.

[2016-09-26 08:31] #29 closed, assigned to chorsley, GregoryRhysEvans

[2016-09-26 08:34] rufuspollock commented on #30
@chorsley ping ... when i visit http://bits.cybergreen.net/ i guess "no such bucket".

[2016-09-26 08:39] rufuspollock commented on #44
@aaronkaplan all frontend code is live. Aggregator code is held back whilst we do check to ensure no sensitive information e.g. db passwords in there. Will be live this week.

[2016-09-26 08:47] aaronkaplan commented on #44
Cool, thanks!

[2016-09-26 09:44] chorsley commented on #44
Quick update on ETLv2 - have a couple of AWS-related bits to separate out into env variables, should have it released publicly by mid-week.

[2016-09-26 09:50] GregoryRhysEvans commented on #20
This is done. Download links for:
- entry.csv: http://bits-cybergreen-net.s3-website-eu-west-1.amazonaws.com/dev/aggregated/latest/entry000
- place.csv: http://bits-cybergreen-net.s3-website-eu-west-1.amazonaws.com/dev/aggregated/latest/place000
- risk.csv: http://bits-cybergreen-net.s3-website-eu-west-1.amazonaws.com/dev/aggregated/latest/risk000

[2016-09-26 09:50] #20 closed, assigned to rufuspollock

[2016-09-26 09:54] chorsley commented on #43
We have already implemented ip2location - coverage seems more complete than MaxMind. Currently not configurable, but would be fairly easy to do so if there was demand.

I can't see historical databases available for download - but nor could I readily for Maxmind. I'm asking if they make these available, or we just start collecting from today on.

[2016-09-26 09:56] chorsley commented on #35
We have some basic test coverage, but this needs expansion. By the time we have things public mid week, we should have decent coverage on each ETL phase.

[2016-09-26 10:04] #15 closed, assigned to nobody

[2016-09-26 10:07] aaronkaplan commented on #43
I moved this to post sept 30. However - it does touch one issue pre-Sept 30: speed.
the maxmind lookups are slow (if I remember correctly). Would be interesting to know if ip2location is faster (and if so, how many lookups/sec)?

[2016-09-26 10:08] GregoryRhysEvans commented on #20
Note, CSVs will want renaming. See [the issue on the aggregator](https://github.com/cybergreen-net/aggregator/issues/3)

[2016-09-26 10:21] rufuspollock commented on #40
@kxyne points out that it is tough to get data on e.g.:
- Getting data on number of IP address and number in use
- Getting company name for ASN

=> maybe not much to do here right now or at least post sep 30 ...

[2016-09-26 10:23] aaronkaplan commented on #40
- if you define "in use" as "being announced via BGP" it's doable.
- company name for ASN: doable ! Please look at stat.ripe.net

[2016-09-26 10:23] aaronkaplan commented on #40
I would _definitely_ like to see ASN 2 company name before sept 30. How hard is it to display that in the frontend if we give you the data?

[2016-09-26 10:53] rufuspollock commented on #2
FIXED / DUPLICATE of other issues.

[2016-09-26 10:53] #2 closed, assigned to nobody

[2016-09-26 11:01] GregoryRhysEvans opened #46 "Improvements to stats site"
See [the stats-new issue tracker](https://github.com/cybergreen-net/stats-new/milestone/1)

[2016-09-26 12:23] chorsley opened #47 "OpenDNS data filtering enhancement"
More info about methodology at https://www.nanog.org/sites/default/files/tue.lightning3.open_resolver.mauch_.pdf.

Issues to date with the open DNS resolver data and how we deal with it:

- [ ] Currently not accounting for RCODE: a value of 5 indicates the query was refused, for example.
- [ ] Currently not accounting for potential volume of amplification. We currently don't have bytes returned to

[2016-09-26 12:24] #17 closed, assigned to nobody

[2016-09-26 12:25] chorsley commented on #12
We've settled on Cloudwatch and Datadog.

[2016-09-26 12:25] #12 closed, assigned to chorsley, kxyne

[2016-09-26 12:33] chorsley commented on #19
As per meeting on 20 Sept, this is no longer a priority, so will be done after 30 Sept.

[2016-09-26 15:01] ataslim commented on #38
@rgrp i'm not familiar with the code on the frontend test link so writing the summary may be a bit of a challenge for me. we'll either need to have a call on this so i can get a better understanding or this would need to be done by someone at atomatic i think.

[2016-09-27 07:09] chorsley commented on #8
First 4 sets there, some glitches with NTP data sizes, but complete for the most part. I'll raise a new issue for NTP data problem.

[2016-09-27 07:09] #8 closed, assigned to chorsley

[2016-09-27 07:10] chorsley opened #48 "NTP data issue with disk size"
NTP data extracts at maximum to over 81GB, and the disk volume size on EC2 instance much smaller, so a good number of dates fail at the moment. Need to find a workaround - change image config, or reduce size of files we need to handle ahead of ETL.

[2016-09-27 07:11] chorsley opened #49 "NTP data enhanced filtering"
The following filtering possibilities with NTP data have been observed so far:
- [ ] Amplification factor not taken into account yet, though we do have the byte count of responses to help us here.
- [ ] "stratum" value in NTP data might tell us how intentionally the server is designed to be used for public consumption. A value of 16 is unsynchronised (read: completely unreliable) and possibly unin

[2016-09-27 07:12] chorsley commented on #18
Closing as data can be processed via ETLv2. Further issues at #48 (processing issues due to file size) and #49 (ideas for further filtering).

[2016-09-27 07:12] #18 closed, assigned to nobody

[2016-09-27 16:03] rufuspollock commented on #38
@ataslim can you get a briefing from @YurieIto and @aaronkaplan on what you need here? I would imagine a short one page with a link to test directories might be sufficient ...

[2016-09-27 16:48] aaronkaplan commented on #38
We'll handle that one together. @rgrp, me and @chorsley  will work on this.

Best,
a.

[2016-09-28 05:25] chorsley commented on #43
Update on historical references - asked the ip2location vendor, and they don't readily provide historical versions of their database. We'd need to collect them from today to build our own historical repo. I'd reckon that's acceptable given our emphasis on current and future data, but happy to hear dissenting opinions.

[2016-09-28 09:11] rufuspollock opened #50 "Choose an cloud infrastructure config option and use it"
I'd recommend terraform based on research and some (limited) experience.

https://www.terraform.io/

[2016-09-28 09:16] aaronkaplan commented on #50
Whatever the choice is finally, please remember that a hard requirement is that any type of software we use MUST (as in RFC MUST) smoothly work _locally_ (off-cloud).

Vagrant, Chef, Puppet would fulfill this requirement.
No idea if terraform does that.

[2016-09-28 09:17] kxyne commented on #43
ip2location is faster than maxmind and uses less ram. It all depends on hardware obviously but considering we're chewing ~6gb a week I'm not worried about speed, it's the difference between 10 minutes and 15 if we spend thousands of dollars of time on optimising it we'll never see that back. Maxmind to ip2location was a big speed shift for very little work but past that we're really getting into r

[2016-09-29 00:48] aaronkaplan commented on #45
Text for the /asn/ page:

(copy & paste this markdown text)

[code]

**Note**: this text is long. I have no idea if it fits. If not, please consult/propose a solution how we can describe the factual info here while not cluttering up the page. Open to suggestions.

[2016-09-29 00:51] aaronkaplan commented on #39
@rgrp , @chorsley , @kxyne I need the latest code to be uploaded to the github repos (etl2 and aggregator). Only then can I finish exporting the git commit log for the maintenance log

[2016-09-29 00:52] aaronkaplan commented on #4
...later...

[2016-09-29 01:22] kxyne commented on #43
It needs the plumbing on the ETL side to fetch the right file from git and a cron to store them but otherwise it all seems good.
https://github.com/cybergreen-net/ip2location-historical

[2016-09-29 01:30] aaronkaplan commented on #43
cool!

So, what I still found out  - just now... RIPE has that actually. They already solved the historic (maxmind) IP geolocation data issue.
Take a look [here](https://stat.ripe.net/docs/data_api#Geoloc) and [here](https://stat.ripe.net/docs/data_api#GeolocHistory). I don't know if it's possible to download the DB tough for offline calculations.

Anyway, we should state in the /place (a.k.a coun

[2016-09-29 08:08] GregoryRhysEvans commented on #45
@aaronkaplan Thanks. No problem with it; it fits fine and doesn't clutter the page. Is now added.

[2016-09-29 08:08] #45 closed, assigned to aaronkaplan

[2016-09-29 08:12] rufuspollock commented on #38
I spoke with Yurie about this today and have booted a doc.

[2016-09-29 09:44] aaronkaplan commented on #45
@GregoryRhysEvans sorry, I had a grammar mistake in the last sentence.

[code]

[2016-09-29 15:27] rufuspollock commented on #16
FIXED.

[2016-09-29 15:27] #16 closed, assigned to nobody

[2016-09-29 15:29] rufuspollock commented on #30
@GregoryRhysEvans has taken this back on at @chorsley request  (as of Monday).

[2016-09-29 15:31] GregoryRhysEvans commented on #30
This bucket is up and the files are publicly available, for example [to download the country data](https://s3-eu-west-1.amazonaws.com/bits.cybergreen.net/stats/latest/country000)

[2016-09-29 15:31] #30 closed, assigned to GregoryRhysEvans

[2016-09-29 15:41] GregoryRhysEvans commented on #44
Aggregator code is uploaded to repo with instructions for use. See: https://github.com/cybergreen-net/aggregator/issues/5

[2016-09-29 16:05] rufuspollock commented on #44
Nothing left for Atomatic here.

[2016-09-29 16:11] rufuspollock commented on #36
@YurieIto gave approval for go live yesterday /cc @ataslim

@aaronkaplan can you notify Moto-san and we initiate change.

[2016-09-30 02:23] kxyne commented on #39
we've provided the git log so we're done on this one.

[2016-09-30 02:28] kxyne commented on #24
IMO Sequential IDs are OK because we can 2^x them to do one-hot encoding. This lets us collate IPs according to how many/which feeds they have and we can measure crossover (something I want to do post deadline).

[2016-09-30 04:59] chorsley commented on #44
ETLv2 now lives at https://github.com/cybergreen-net/etl2

[2016-09-30 04:59] #44 closed, assigned to chorsley

[2016-09-30 05:00] #14 closed, assigned to chorsley

[2016-09-30 05:00] chorsley commented on #37
Supplied.

[2016-09-30 05:00] #37 closed, assigned to chorsley

[2016-09-30 06:23] rufuspollock commented on #24
@kxyne is this now live in the reference data repo?

[2016-09-30 06:25] rufuspollock commented on #36
This is all done at our end modulo a CNAME change once DNS switches over.

@aaronkaplan any ETA from @motok (@motok feel free to jump in yourself here!)

[2016-09-30 06:26] rufuspollock commented on #50
@aaronkaplan terraform is specifically for setting up cloud infrastructure. Puppet, chef, ansible, salt etc are different: they are for configuring deployed machines (mainly). Terraform is built by people who built vagrant - but has a different purpose.

[2016-09-30 06:33] motok commented on #36
Hi, what can I do for you?
You've already have;

And please tell me if you need additional RRs.

[2016-09-30 06:33] rufuspollock commented on #39
@aaronkaplan it is uploaded. I'd have imagined a maintenance log was more like: "System was down on X for planned maintenance. We upgraded site on XX date" rather than full commit log - but if this is what is needed no problem for us :-)

[2016-09-30 08:35] chorsley commented on #38
Added ETL section.

[2016-09-30 08:36] chorsley commented on #35
Complete for this milestone - more expansion down the track.

[2016-09-30 08:36] #35 closed, assigned to chorsley, kxyne

[2016-09-30 10:35] chorsley commented on #6
Added this to https://github.com/cybergreen-net/reference_data/tree/master/risks based on discussion here and #24. Closing for now - please reopen if any discussion required, or edit directly.

[2016-09-30 10:35] #6 closed, assigned to chorsley

[2016-09-30 10:37] chorsley commented on #24
First cut is now at https://github.com/cybergreen-net/reference_data/tree/master/risks. Currently has a col for category, but empty until we discuss what the categories are. Closing this issue - please reopen for further discussion, or feel free to edit directly.

[2016-09-30 10:37] #24 closed, assigned to chorsley

[2016-09-30 11:20] ataslim commented on #39
@rgrp @aaronkaplan  The issues you mentioned are the most crucial, and what we would expand on as a brief narrative if it was the case that, for example, the stats site went down for a period of time (and our gameplan to get it back up and operational). What would be the best way to record those events? Would the stats-new issues log suffice as a place to record that information?

That being said,

[2016-09-30 13:11] rufuspollock commented on #36
@motok we need www.cybergreen.net to change to point to our github pages repo as per instructions at:

https://help.github.com/articles/using-a-custom-domain-with-github-pages/
https://help.github.com/articles/setting-up-a-www-subdomain/

CNAME and ANAME should be to:

[code]

We want both apex domain and www to point - i.e. www.cybergreen.net and cybergreen.net if possible - the former does requi

[2016-09-30 18:40] aaronkaplan commented on #39
@ataslim:

I thought we said that the commit logs+issue list was sufficient ? (In the sense of what work was done ). Maybe the word "maintenance" log was not the best choice.
Maintenance in the classical sense: we have no HW maintenance with AWS.

I did some maintenance work for my server which was / is used to calculate aggregated data.
That would be classical Sysadmin work.

Please then define w

[2016-09-30 18:41] aaronkaplan commented on #24
---

Mobile

Cool idea ;)

[2016-09-30 18:43] aaronkaplan commented on #24
---

Mobile

Categories should be according to the ecSIRT 2 taxonomy. Pls google "Enisa eCSIRT II ". Then search for the high level category.

In our case it is "vulnerable system" or so.
For all 4 feeds.

[2016-09-30 18:48] aaronkaplan commented on #50
---

Mobile

Thx for the quick info.
Reminder: everything MUST be able to be run non-cloud(ed) as well.

[2016-09-30 19:16] ataslim commented on #39
@aaronkaplan JPCERT defines "Platform Operation" as the operation and maintenance of the CGI platform through AWS. That was defined at the beginning of the contract with JPCERT, so things are a little different now with respect to the servers (physical+AWS). I don't think it's a particularly well-defined deliverable, but if you have other ideas for how we can fulfill this request, let me know.

I

[2016-09-30 21:50] aaronkaplan commented on #36
@rgrp just for the record: there is no ANAME record type  (pun intended).
See: https://en.wikipedia.org/wiki/List_of_DNS_record_types
And: http://www.iana.org/assignments/dns-parameters/dns-parameters.xhtml
There are proprietary extensions to rrtypes - and I assume ANAME is such a beast.
But it's not an official rrtype. So, I guess Bind will not support it.
So far only DNS Made Easy seems to imple

[2016-10-01 00:12] aaronkaplan commented on #42
so can this one be closed then as well?

[2016-10-01 00:14] aaronkaplan opened #51 "Background page on measurements and processing missing"
We need a page describing briefly (maybe even a graphic?) how the data was collected, how we ETL'ed it and how we count (aggregate by week etc).

Should be in an "About" page.

[2016-10-02 04:39] motok commented on #36
browser access to http://cybergreen-net.github.io/ is now 404 not found.
are you sure to point www to this web site?

[2016-10-02 05:11] motok commented on #36
@rgrp : I don't quite understand your request... are you saying;

thanks.

[2016-10-03 06:10] rufuspollock commented on #36
@motok yes - i want to www CNAME to i.e. `cybergreen-net.github.io.`. Right now it won't show anything. Did you see the docs about how github pages hosting works? Basically, one you point to that github servers will take care of serving the right site.

[2016-10-03 06:12] rufuspollock commented on #36
@aaronkaplan fine with me if you don't want the root domain - just common practise nowadays (or at least to redirect to www). Anyway, if we have www working that is good.

[2016-10-03 06:13] rufuspollock commented on #36
@motok i've updated CNAME on site to work https://github.com/cybergreen-net/inventory.cybergreen.net/blob/gh-pages/CNAME

@aaronkaplan / @ataslim note that inventory.cybergreen.net will now be down.

[2016-10-03 06:14] rufuspollock commented on #50
@aaronkaplan terraform is a tool for booting the cloud infrastructure. It would not be relevant for local install.

[2016-10-03 06:20] rufuspollock commented on #42
@zelima please close if you think this is fixed.

[2016-10-03 06:53] motok commented on #36
I see, and found it is name based virtual host and respond for Host: www.cybergreen.net.
I have just update the DNS entry for www.cybergreen.net as CNAME to cybergreen-net.github.io.

thanks.

[2016-10-03 07:14] motok commented on #36
@rgrp would you please check the links in Data Inventory?
the link to openresolverproject.org (and all others I think) is not working.
Thank you!

[2016-10-03 09:26] zelima commented on #42
This is fixed see commit: https://github.com/cybergreen-net/aggregator/commit/36e93917388aa0e45a9554bad0a68ea454fc5e42
@aaronkaplan @rgrp I can not close issues here

[2016-10-07 18:01] rufuspollock commented on #36
@motok the links are broken because they are wrong in the csv ;-) - see https://github.com/cybergreen-net/inventory.cybergreen.net/issues/34

[2016-10-07 18:01] rufuspollock commented on #36
FIXED. It is live ...

[2016-10-07 18:01] #36 closed, assigned to aaronkaplan

[2016-10-07 18:01] rufuspollock commented on #42
FIXED.

[2016-10-07 18:01] #42 closed, assigned to rufuspollock

[2016-10-20 10:44] rufuspollock commented on #21
MIGRATED the content and further work on this to https://github.com/cybergreen-net/stats-new/issues/83

[2016-10-23 03:27] chorsley opened #52 "cybergreen.net to direct to www"
For ease of use, entering "cybergreen.net" in a browser should redirect to www.cybergreen.net.

[2016-10-23 03:40] chorsley opened #53 "HTTPS errors on www.cybergreen.net"
Accessing https://www.cybergreen.net/ gives SSL cert errors. The common name in the cert has been issued for github.com and related sites, not cybergreen.net.

Should verify cert status, or reconfigure if present.

![image](https://cloud.githubusercontent.com/assets/383615/19623999/d2c4dc2e-991d-11e6-9fe5-eb2ad43c0e7f.png)

[2016-10-23 04:04] chorsley opened #54 "Clarity on download data contents"
For the files on http://stats.cybergreen.net/download/ (e.g. the CSV at http://stats.cybergreen.net/api/entries.csv), we have:

[code]

It's unclear if this is yearly data to date in aggregate, or counts and scores from the last week of data we received. Suggestions:
- Include a date / explanation on the download page with last data update
- Label the file with the last import date of the data e.g

[2016-10-23 05:46] chorsley commented on #54
This was for the current stats.cybergreen.net, see this is going to be updated, so closing.

[2016-10-23 05:46] #54 closed, assigned to nobody

[2016-10-24 08:49] chorsley opened #55 "Serve live data out of /prod"
For both ETL and aggregation, we should strictly use `/dev/` paths for preview / development sites, and `/prod/` paths for live sites.

We should set a cutover date for both the ETL and aggregation processes to begin using `/prod/` when publishing data destined for public use. From that point on, `/dev/` data should not be published to the live Cybergreen website.

I'd suggest a cutover of Monday

[2016-10-24 11:58] rufuspollock commented on #52
@chorsley i agree and have flagged this to @aaronkaplan but @aaronkaplan indicated this was maybe not needed (plus issues with apex domains and DNS).

[2016-10-24 12:05] rufuspollock commented on #53
AFAICT there is no easy way to set up https properly on github custom domains 😦   - see e.g. https://github.com/isaacs/github/issues/156. We can use cloudflare or similar or we could move to gitlab which seems to support this.

[2016-10-24 12:07] rufuspollock commented on #55
@chorsley +1 on the idea. In terms of date I suggest we address this as part of a coherent planning session in the next week.

[2016-10-24 13:02] chorsley opened #56 "Aggregate data import documentation"
We should document the current procedure between enriched (clean) data and import of aggregate data into RDS.

[2016-10-24 13:04] chorsley opened #57 "Automation required for S3 CSV -> RDS import"
There is a aggregation step requiring download of the S3 CSV files to a local system, and then back up to RDS. This should be set into a standard workflow, ideally between AWS platforms.

[2016-10-24 13:27] chorsley opened #58 "Reduce / remove API data downtime during updates"
When we load data into RDS, there's currently a 20 minute site outage while the data is loaded.

This should be performed as a near-atomic operation (e.g. loaded into temp tables first), so there is very little downtime.

[2016-10-25 18:18] aaronkaplan commented on #53
Yurie has a new CERT. It needs to be installed on the info site's config via Atomatic.

---

Mobile

[2016-10-26 07:08] rufuspollock commented on #58
@chorsley i'd suggest that we load into a new RDS instance and switch the frontend to a new database instance. That also allows for fallback if something breaks.

[2016-10-26 07:09] rufuspollock commented on #57
@chorsley agreed.

[2016-11-03 23:24] chorsley opened #59 "Set up web application monitoring"
Need to set up following levels of web site / web stats monitoring:

* Web sites are accessible
* Stats site is presenting data as expected
* Each risk type page is presenting data as expected
* APIs return data as expected.

[2016-11-07 15:16] rufuspollock opened #60 "Beta 2 stats live as main stats site"
* [x] Add custom domain on heroku using `heroku domains:add` for `stats.cybergreen.net` @zelima
* [x] Change DNS for stats.cybergreen.net to heroku domain: `cybergreen-stats.herokuapp.com.` @aaronkaplan

Note if we want old stats site at e.g. statsold.cybergreen.net then we need to set up dns for that and change `CNAME` file on github repo.

[2016-11-07 17:01] aaronkaplan commented on #60
@rgrp as discussed via email - can you please assign a timestamp to _when_ we switch?
The second item here depends on the first.
I need to tell the DNS guys _when_ to switch. -> time zones.

[2016-11-07 17:29] rufuspollock commented on #60
@aaronkaplan you can initiate switch now if you want as per comment in chat channel.

[2016-11-07 17:30] aaronkaplan commented on #60
perfect  Okay, I need to respect the JP /Tokyo time zone. It will take a bit of time. Is the custom domain `heroku domains:add`ed as noted in the checkbox above?

[2016-11-07 18:38] zelima commented on #60
@aaronkaplan We've set the domain on Heroku and you can initiate  DNS change whenever you want

[2016-11-07 18:46] aaronkaplan commented on #60
Perfect! Thanks. I was not sure since the checkbox was not set yet.

Best,
a.

[2016-11-10 11:33] #60 closed, assigned to aaronkaplan

[2016-11-10 11:36] aaronkaplan opened #61 "UI: map issues"
* The map is slow (main stats start page) -> need a speedup
  * switching between weeks in the map is slow  -> need a speedup
  * mouse focus gets "grabbed" by the map when there, this might be confusing
  * if there is no data for a default setting of a map (open recursive DNS), it should iterate over the other data sets and display _something_ at least (unless, that particular risk was chosen sp

[2016-11-15 18:53] aaronkaplan opened #62 "please inspect heroku error message"
Hi,

our scalable cloud solution seems to balk since a couple of hours.
http://stats.cybergreen.net/api/v1/count

-> Application error.

Can you please inspect and guide us on how CG can ensure lower downtimes?

[2016-11-15 21:12] aaronkaplan commented on #62
We plan to demo the stats site tomorrow, so the API should also work.

[2016-11-15 22:32] aaronkaplan opened #63 "[epic] User Research and Engagement"
- [x] Get contacts from CG and schedule meetings #65
- [x] Prepare for meetings #72
- [x] Have meetings #64
- [x] Write up #66

[2016-11-15 22:33] aaronkaplan opened #64 "[ux-research] Do the user interviews"
- [x] Do interviews with the 4-6 users
  - [x] User 1
  - [x] User 2
  - [x] User 3
  - [x] User 4
- [x] Keep notes

Part of #63

[2016-11-16 11:29] rufuspollock commented on #53
@aaronkaplan and @ataslim i think this is a priority to fix somehow or other since it is a very poor UX to get certificate warnings on your main website. We have two options:
- Investigate using cloudflare proxy option - https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudflare/
- Move the deployed webiste somewhere else where we can have ssl - this will involve some work to build s

[2016-11-21 08:46] rufuspollock opened #65 "[ux-research] Get in contact with users"
- [x] Get contacts from CG
- [x] Schedule meetings

[2016-11-21 08:47] #46 closed, assigned to nobody

[2016-11-21 08:48] aaronkaplan commented on #38
was submitted.

[2016-11-21 08:48] #38 closed, assigned to chorsley, GregoryRhysEvans, ataslim

[2016-11-21 08:48] aaronkaplan commented on #39
done

[2016-11-21 08:48] #39 closed, assigned to aaronkaplan

[2016-11-21 08:49] rufuspollock commented on #62
INVALID / DUPLICATE - open on stats-new repo ;-)

[2016-11-21 08:49] #62 closed, assigned to rufuspollock

[2016-11-21 10:26] rufuspollock opened #66 "[ux-research] Write up user interviews into a report"

[2016-11-21 10:27] rufuspollock opened #67 "[ux-research] Design community user survey"
Led by @ataslim with collaboration and support from @rgrp and others at Atomatic.

[2016-11-21 17:56] rufuspollock commented on #57
DUPLICATE now of https://github.com/cybergreen-net/aggregator/issues/23

[2016-11-21 17:56] #57 closed, assigned to nobody

[2016-11-21 17:58] rufuspollock commented on #61
DUPLICATE of various issues in stats-new (let's keep issues there and if we have stuff here it must be a summary linking to specific issues there).

[2016-11-21 17:58] #61 closed, assigned to nobody

[2016-11-25 00:44] aaronkaplan opened #68 "Please load the latest data [24 Nov 2016]"
We are getting more and more requests by people that "our data on stats.cg.net is outdated".

Please load the newest data.
@zelima please make sure that only the latest data where all columns are non-empty are displayed on the stats site.

[2016-11-25 00:52] aaronkaplan commented on #58
okay. when and how? And what's exactly needed to test this? (note: that's part of atomatic SoW). @rgrp please propose an actionable solution which we can test in the next weeks.

[2016-11-25 00:53] aaronkaplan commented on #56
part of SoW. Yes. Google document for this?

[2016-11-25 00:56] aaronkaplan commented on #53
I prefer the second option . Cloudflare man-in-the-middle SSL certificate is not something which will resonate nicely with our users/community.
@rgrp please advise on how to deploy the site on a web server that I can commission for you.

[2016-11-25 00:58] aaronkaplan commented on #52
@rgrp nope. I meant something else. Apex domains don't work as described in heroku docs for standard name servers. There is no record type for that in DNS. It's a custom extension. Hence we won't have apex domains. That is a very very specific thing for heroku it seems.
Standard web servers don't have that issue and I can easily do a http redirect there.

-> see also  #53 . It's connected. If we s

[2016-11-25 00:59] aaronkaplan commented on #51
@kxyne when? We need to plan some time for this task

[2016-11-25 01:00] aaronkaplan commented on #50
any news on this?

[2016-11-25 01:01] aaronkaplan commented on #48
is this still an issue? If so, any news on this?

[2016-11-25 01:02] aaronkaplan commented on #47
I'll move this to post BETA-3. We know. But.... let;s focus on auto-mode. Yes, you are right.

[2016-11-25 01:04] aaronkaplan commented on #34
possible duplicate/part of the document of #51

[2016-11-25 01:05] aaronkaplan commented on #33
is this a duplicate of another one?

[2016-11-25 01:08] aaronkaplan commented on #19
need to check with @ataslim if this is part of the SoW with the donors of CG

[2016-11-25 05:47] chorsley commented on #48
Fixed, will close. The container data volume size was increased to handle files of this size.

[2016-11-25 05:47] #48 closed, assigned to rufuspollock, chorsley

[2016-11-25 05:49] chorsley commented on #19
As @aaronkaplan mentioned, I understand this has been delayed for now, but will wait for feedback on deliverables required.

[2016-11-25 05:51] chorsley commented on #68
Noted. Currently working on moving post-scan data processing scripts local, needs rewrite on scripts and make them suitable for cron-ing.

[2016-11-26 20:54] rufuspollock commented on #33
FIXED / DUPLICATE. Either done or now in https://github.com/cybergreen-net/infrastructure/issues

[2016-11-26 20:54] #33 closed, assigned to rufuspollock

[2016-11-26 22:50] rufuspollock commented on #56
@aaronkaplan suggestion was this was documentation in the infrastructure repo - using markdown files in git. See https://github.com/cybergreen-net/infrastructure/issues/1

I suggest we leave this open in PM repo to track out highest level with work being done in that referenced issue.

[2016-11-26 23:37] rufuspollock commented on #58
@aaronkaplan i would say this is a dependency on the orchestrator setup so this will be blocked on that. Also this issue was moved to https://github.com/cybergreen-net/infrastructure/issues/6 - let's update there.

[2016-11-26 23:38] rufuspollock commented on #58
DUPLICATE of https://github.com/cybergreen-net/infrastructure/issues/6

[2016-11-26 23:38] #58 closed, assigned to rufuspollock

[2016-11-26 23:39] rufuspollock commented on #55
DUPLICATE. this is now part of infrastructure issues e.g. https://github.com/cybergreen-net/infrastructure/issues/3

[2016-11-26 23:39] #55 closed, assigned to rufuspollock, chorsley

[2016-11-26 23:49] rufuspollock commented on #53
@aaronkaplan doing option 2 will be a bit of a pain in that you will no longer get continuous deployment without some effort to do a build and then push of built html to the the web server you set up (as a) this is not something we had anticipated doing b) you'd need push access to the server I'd anticipate this is something you or moto or similar would then be doing which is probably a pain for y

[2016-11-26 23:51] rufuspollock commented on #50
DUPLICATE and FIXED. See https://github.com/cybergreen-net/infrastructure/issues/7

[2016-11-26 23:51] #50 closed, assigned to rufuspollock

[2016-11-27 13:50] rufuspollock opened #69 "[epic] Analyse and Plan Data Warehouse and UI changes"
This issue is about systematically analysing and planning our Data Warehouse and UI changes as they relate to supporting:

* New metrics in both Data Warehouse and UI
* Summing metrics across risks (for overall ranking by country)
* Multiple time granularities
* Surfacing time and temporal granularities in the UI

Sub issues:

* [x] Data warehouse structure - DONE - resulting plan of changes at ht

[2016-11-27 13:51] rgrp commented on #69
I estimate this will take 40h+ of work alone.

[2016-11-29 05:26] chorsley commented on #68
Now loaded into /clean dir, and datapackage.json loaded. Please go ahead @zelima.

[2016-11-29 05:47] chorsley commented on #40
AS name dataset is available at https://github.com/cybergreen-net/asname-historical. This doesn't contain netblock / ASN sizes.

[2016-11-29 17:38] rufuspollock commented on #40
@chorsley great. Right now I'm working on a bit of a plan re reference datasets and should have finished by end of this week.

[2016-11-29 17:39] zelima commented on #68
Fixed - website is live with latest data

[2016-11-29 17:39] #68 closed, assigned to chorsley, zelima

[2016-11-29 18:35] rufuspollock opened #70 "[dw] Time point for a log entry from a given scan"
Question: do scans for a given risk always complete with a given day? If not, what day timestamp should be assigned to log entries from that scan?

For example, suppose you have a scan that starts on a monday 31st august and then runs into tuesday 2nd september. That data will all be in the same week but different months. You can’t aggregate direct from weeks to months in a natural way (weeks are

[2016-11-29 18:36] rufuspollock commented on #70
@chorsley said:

[2016-11-29 18:37] rufuspollock commented on #70
@chorsley one question here: what about scans for different risks. Are different risk scans synchronized? If not we may have an issue when someone looks across risks because data for one scan was in one week whilst for another risk it is in a different week.

/cc @aaronkaplan

[2016-11-29 19:23] rufuspollock commented on #69
Actions for tomorrow:

* [x] Slide 11 showing RDS as of beta-2
* [x] Write slide(s) explaining postgres cubes functionality (and cubes in general)
* [x] Add Slide 15 and do example sql expressions (including cube)
  * Different time granularities
  * Show how we would recompute tables we now have (so we can refactor nicely)
* [x] Add slide 16 with example code queries for these from nodejs

Review

[2016-11-29 22:13] ataslim commented on #53
Thanks guys. Spoke to Aaron today and this is to be discussed a little more
during your call this week. Please let me know how that goes.

Best,
Arastoo

On Sat, Nov 26, 2016 at 6:49 PM, Rufus Pollock <notifications@github.com>
wrote:

[2016-11-30 17:57] rufuspollock commented on #69
Data warehouse planning largely done.

Next steps:

* [x] Create a DW task epic with lots of subitems in aggregator repo
* [x] Plan query and API changes
  * e.g. do we want to just have /api/cube?... as well as the basic dimension options (?) - internally these other options e.g. `/api/country` are a combination of dimension + cube data
* [ ] Finalize UX changes and start creating issues
* [x] De

[2016-12-01 05:58] chorsley commented on #70
@rgrp we should assume:

* Different data feeds / scans are not synchronised in any way (and they are not for the most part);
* Data collection runs at least once a week;
* Data collection may run beyond a single date, or continuously throughout the week.

So, I'd suggest:

* We tie a single batch of data to the week of the year, not a single date.
* For continuously collected data (don't have thi

[2016-12-02 16:42] rufuspollock commented on #70
@chorsley [wrote](https://github.com/cybergreen-net/stats-new/issues/95#issuecomment-263481866):

The issue we have here is that the scans occur on different days that aren't always the start of the week. For example, last week's scans were on:

openntp: 2016-11-18
openssdp: 2016-11-19
opendns: 2016-11-20
opensnmp: 2016-11-22

This is a particular quirk of the open* data sets we initially get, how

[2016-12-02 16:53] aaronkaplan commented on #70
does not matter when the scans starts / ends. Just use the timestamp of the log line.
And aggregate by day

[2016-12-02 18:00] rufuspollock commented on #53
@ataslim: @aaronkaplan is going to get the cloudflare account and set this up (as should be "owned" by CG here). We can help wherever necessary.

[2016-12-03 09:18] rufuspollock commented on #69
**Time in the UI**

Talked about this extensively yesterday with @aaronkaplan and @zelima

Overall sense: we need to think about main user journey and user stories. Generally, we want to make good defaults and may confine a lot of the optionality such as different time granularities or time points to an "explorer" app.

[2016-12-04 12:17] aaronkaplan opened #71 "Getting more done in GitHub with ZenHub"
Hola! @aaronkaplan has created a [ZenHub](http://www.zenhub.com) account for the **cybergreen-net** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_sourc

[2016-12-05 11:06] rufuspollock commented on #65
FIXED. Though it happened in 5 Dec sprint due to arrival time of intros from CG.

[2016-12-05 11:06] #65 closed, assigned to rufuspollock, YurieIto, ataslim

[2016-12-05 11:08] rufuspollock opened #72 "[ux-research] Prepare for user interviews"
* [x] Review existing user stories and epics
* [x] Interview Aaron
* [x] Prepare slide deck
* [x] Prepare notes document

[2016-12-05 11:19] rufuspollock commented on #71
We're a big +1.

[2016-12-05 11:20] rufuspollock commented on #64
This will only happen this week.

[2016-12-05 11:24] rufuspollock opened #73 "Summary of all Client Deliverables for Beta-3"
@aaronkaplan as per chat last week can you get everything here that is needed - preferably as short summary with link to issues in other repos

## Metrics 2.0 and 2.1

The CyberGreen Index is a number per observed entity, be that entity a country, an AS, or some other entity we can and do identify. It is a weighted sum in an ordinary way:
`CGi = rank( j=4 j=1 Σ counti, j * weight j )`
- The rank i

[2016-12-05 12:39] rufuspollock opened #74 "Design reference data system"
Discussed that we would plan this at tech team meeting 2 weeks ago

* [x] Structure of a reference dataset
* [x] Where we store them
* [x] Usage in Data Warehouse
* [ ] <del>Management process</del> - not relevant for now

Actions arising

* [x] Write up this process in this pm repo in `/doc/reference-data.md`
* [x] Identify next steps - see #76

[2016-12-05 12:41] rufuspollock commented on #70
FIXED. We have a business decision 😄

[2016-12-05 12:41] #70 closed, assigned to aaronkaplan

[2016-12-05 12:44] rufuspollock commented on #74
Most of this now done - see [Slide 21 onwards](https://docs.google.com/presentation/d/14-tJ3Ca0qstmgwLENQh5jflChB4MxZoUkA96fFoqGbU/edit#slide=id.g13c7436e56_1_29)

Next steps is to convert these plans into:

* markdown documentation either in this repo or infrastructure repo.
* identify next steps

[2016-12-05 13:12] ataslim commented on #72
@rgrp can you post the interview questions?

[2016-12-06 12:09] zelima opened #75 "Deduplicating IPs within different time granularities"
Currently IPs are deduplicated on week level, meaning - if there is same IP within **same week** and risk - it is ignored (not counted).

When this is done on day level, it will result deduplicated IPs within same day. Meaning - simple Rollup by date just won't work, cause sum of daily counts, for any time granularity, won't be accurate (they'll include tons of duplicated IPs)

This may lead to cr

[2016-12-06 17:56] rufuspollock opened #76 "[epic] Reference data updates"
* [x] Split out reference datasets to own repos:
  * [x] `refdata-risk`
  * [x] `refdata-country`
    * [x] move data
  * [x] `refdata-asn`
    * [x] move data
* [x] Refactor each of those repos to new structure - as per new docs
* [x] Add amplification factor to risk reference data
* [ ] NOT CRITICAL *Merge https://github.com/cybergreen-net/asname-historical with `refdata-asn` repo*

[2016-12-07 16:34] zelima commented on #76
New repos set up for reference data
- risk - https://github.com/cybergreen-net/refdata-risk
- country - https://github.com/cybergreen-net/refdata-country
- asn - https://github.com/cybergreen-net/refdata-asn

Notes:
- Only repo for risk contains actual data
- datapackage.json's are constructed according to "new" columns, that csv files should have. (may need to modify)

[2016-12-07 17:31] zelima commented on #74
instructions for seting up ref-data repos added https://github.com/cybergreen-net/pm/blob/master/docs/reference-data.md

[2016-12-07 20:06] rgrp commented on #76
FIXED. Modulo a few tidy ups suggested in comments in https://github.com/cybergreen-net/pm/commit/788da41644321cc490e67783dcf3cb17ac61940c

[2016-12-07 20:12] rufuspollock commented on #74
FIXED. Modulo a few tidy ups suggested in comments in https://github.com/cybergreen-net/pm/commit/788da41644321cc490e67783dcf3cb17ac61940c

[2016-12-07 20:12] #74 closed, assigned to zelima

[2016-12-07 20:14] rufuspollock commented on #76
@zelima i assume we have not moved data because not on critical path. How long would this take?

[2016-12-07 20:17] rufuspollock commented on #72
FIXED. Done on Monday. Here's the [Template set of questions](https://docs.google.com/presentation/d/1I0BrONK4vo4Lsi5QKS9RlenF10680Hfm-OUkoBTliiE/edit#slide=id.g344642f18_18)

[2016-12-07 20:17] #72 closed, assigned to rufuspollock, shiweiart, ataslim

[2016-12-07 20:23] rufuspollock commented on #69
FIXED. Marking as fixed. There will no doubt be a bit more to do esp re the API and UX changes but a good chunk done.

[2016-12-07 20:23] #69 closed, assigned to rufuspollock, zelima

[2016-12-07 21:37] zelima commented on #76
@rgrp Easy with country, as soon as I start RDS work tomorrow. Not sure about ASN (complete version, with names) as there is no csv version of mapping `as-number -> asn-name -> country`  yet

[2016-12-08 16:22] rufuspollock commented on #75
@aaronkaplan can you tell us what you think here? Relates back to #42

[2016-12-08 21:26] kxyne commented on #75
Across different feeds? There is only one file per week per feed.
We're basing everything on a week, so if you are doing a month it needs to be the average of the weeks that fall in that month. I'm very much in favour of moving to ISO8601 weeks to make all of this clearer.

[2016-12-09 10:10] zelima commented on #75
@kxyne what do you mean by "average of weeks that fall in that month"?
Could you give the result output for this example scan results:
[code]
Results I think should be:
- weekly aggregation
[code]
- Monthly
[code]
- Annual
[code]

In this scenario we can not just sum up monthly counts to get result for quarter or year

[2016-12-09 10:15] zelima commented on #75
@kxyne Also reason we are switching aggregation on day level is that there may be case when scan won't end within same day - it may start in one month and end in next, but within same week.
Eg: scan started on `2016-12-31` an ended on `2017-01-01` - same week, but different month, quarter and year

[2016-12-12 16:45] rufuspollock commented on #73
@aaronkaplan can you complete this? /cc @ataslim

[2016-12-14 22:21] kxyne commented on #75
Somehow I didn't get the update on this one. For sake of argument I'd probably assign weeks to the month that their Wednesday falls in, the ISO standard has no guide for this.
We've been looking at how we process in the ETL when it comes to weeks (things like "which file do I pick up?" and using the ISO week that days fall in makes it all nicely aligned across the feeds, otherwise it'll  sawtooth

[2016-12-20 09:19] zelima commented on #75
@kxyne sorry for late respond... Ok, think I've got you re week/month splits.
What about deduplicating? What if  the same IP within the same risk comes up in 3 different weeks - should they be counted as 3 or 1, when let's say we want to see annual results?

[2016-12-20 09:21] zelima commented on #76
@rufuspollock reference data is moved to repos. But yet we are missing scripts for getting them

[2016-12-20 09:35] kxyne commented on #75
Well we deduplicate by the week only, and we average the weeks across a month/year, not cumulative counts.

Either that or we re-do everything and pre-aggregate on the back end before deduplication but that could be a later enhancement.

[2016-12-20 09:36] kxyne commented on #75
The way I see it we're interested in trends, not counts, but maybe we should throw this to the stats group?

[2016-12-20 09:53] zelima commented on #75
@rufuspollock this make me think to switch back to week as base granularity... What would you say?

[2016-12-20 17:01] rufuspollock commented on #76
FIXED. This was a fixed a while ago.

[2016-12-20 17:01] #76 closed, assigned to nobody

[2016-12-20 17:17] rufuspollock commented on #64
FIXED. 10d ago.

[2016-12-20 17:17] #64 closed, assigned to rufuspollock, shiweiart

[2016-12-20 17:22] rufuspollock commented on #73
FIXED. Happened elsewhere.

[2016-12-20 17:22] #73 closed, assigned to aaronkaplan

[2016-12-22 11:09] zelima opened #77 "Reports for Beta-3"
- [x] User research #66
- [x] Test report #79
- [x] Platform operation #80
- [x] Stats portal update #81

[2016-12-23 08:05] rufuspollock opened #78 "Load Latest Data (22 Dec 2016)"
@aaronkaplan creating this issue to track plan to do a latest load ...

Aside for @zelima: how complex is it to push this data to both production and staging? If it is complex i suggest we move staging to production *now* - but that is another issue to track.

[2016-12-23 08:39] zelima commented on #78
@rufuspollock No problem pushing data to both...

[2016-12-23 09:06] rufuspollock opened #79 "Test Report - Dec 2016"
[Draft here](https://docs.google.com/document/d/1rIUOO_26y7cQBq-A705doJ6pfD8yKCgU16vXpQQUWNs/edit?usp=sharing)

[2016-12-23 09:07] rufuspollock opened #80 "Platform Operation Report - Dec 2016"

[2016-12-23 09:10] rufuspollock opened #81 "Stats Portal Report (with improved data sources) Dec 2016"
[Draft doc](https://docs.google.com/document/d/1uucQLCegvVYr0vjfKXIE1_QN08G2-WXPBcAJdnKHbWw/edit#)

* [x] Data improvement
* [x] ETL
* [x] Aggregator
* [x] Reference data
* [x] Stats portal (frontend) @zelima + @rufuspollock

[2016-12-23 09:29] rufuspollock commented on #81
@zelima only thing remaining here IMO is for you to add screenshots of site in section marked. We can only do this once data refresh and final tech changes are done.

[2016-12-23 10:43] rufuspollock opened #82 "Overall docs for portal"
This is ultimately due in March. Work now should be on intermediate versions.

*  [x] Short [sysadmin] user manual - this can consist of various READMEs - ATOMATIC
   * Mainly READMEs for now - @zelima @rufuspollock
* [ ] Metrics description
  * [ ] Metrics working paper from November @aaronkaplan
  * [x] Screenshots / summaries showing implementation in code @zelima
* [x] “How to” guide on use of

[2016-12-23 17:21] rufuspollock commented on #19
No longer beta-3 as chose a different new risk.

[2016-12-23 17:22] rufuspollock commented on #56
We have a diagram for this plus docs in https://github.com/cybergreen-net/aggregator

[2016-12-23 17:22] #56 closed, assigned to rufuspollock

[2016-12-23 17:22] rufuspollock commented on #59
Nice to have but won't be beta-3.

[2016-12-23 21:15] rufuspollock commented on #66
FIXED.

[2016-12-23 21:15] #66 closed, assigned to shiweiart

[2016-12-23 21:17] rufuspollock commented on #79
FIXED. @ataslim we've added user research report plus other sections and I think this is now done.

[2016-12-23 21:17] #79 closed, assigned to nobody

[2016-12-26 09:42] zelima commented on #78
FIXED newest data is live for both stages.

[2016-12-26 09:42] #78 closed, assigned to chorsley, aaronkaplan, zelima

[2016-12-26 12:24] zelima commented on #82
@rufuspollock @ataslim doc is updated https://docs.google.com/document/d/1Y4xETmEJPj-slpl0aeMV5g5HKOflduvzLrdH7c9HgIg/edit#heading=h.8t12zkka3asm

[2016-12-26 12:55] zelima commented on #81
FIXED https://docs.google.com/document/d/1uucQLCegvVYr0vjfKXIE1_QN08G2-WXPBcAJdnKHbWw/edit#

[2016-12-26 12:55] #81 closed, assigned to rufuspollock, chorsley, kxyne, zelima, ataslim

[2016-12-26 13:27] rufuspollock commented on #82
@aaronkaplan @ataslim  from our end this is now complete. I think the only thing missing would be the metrics working paper if you want to include that. I'm unassigning us from this is issue to reflect we are complete at our end 😄

[2016-12-26 13:28] rufuspollock commented on #41
Moving out of Beta-3 as this is not planned for it.

[2016-12-26 13:29] rufuspollock commented on #63
FIXED. Removed "Design community survey form #67" out of this issue - as we can deal with that separately and post beta-3.

[2016-12-26 13:29] #63 closed, assigned to rufuspollock

[2017-01-09 16:02] rufuspollock opened #83 "Contribution to Funding proposal"

[2017-01-09 16:02] rufuspollock opened #84 "Review site and mockups with Aaron etc (for testing)"

[2017-01-09 16:04] rufuspollock opened #85 "Develop mockups and site flow based on user feedback"
* [x] User story analysis, prioritization and summary
* [x] Mock front page
* [x] Mock country page
* [x] Mock AS page
* [x] Site flow and info archictecture
* [ ] Mock download page and/or modal

[2017-01-16 16:40] rufuspollock commented on #83
FIXED. We contributed here.

[2017-01-16 16:40] #83 closed, assigned to rufuspollock

[2017-01-16 16:53] zelima commented on #84
FIXED reviewed and approved

[2017-01-16 16:53] #84 closed, assigned to rufuspollock, zelima

[2017-01-16 16:54] zelima commented on #85
FIXED. Still missing mock up for download page. Closing for now

[2017-01-16 16:54] #85 closed, assigned to rufuspollock, zelima, shiweiart

[2017-01-16 17:43] rufuspollock commented on #82
FIXED. Assume @ataslim and @aaronkaplan did their part 😄

[2017-01-16 17:43] #82 closed, assigned to aaronkaplan, ataslim

[2017-01-16 17:46] rufuspollock commented on #80
Assume this got done 😄

[2017-01-16 17:46] #80 closed, assigned to aaronkaplan, ataslim

[2017-01-16 18:08] rufuspollock commented on #77
FIXED. I think!

[2017-01-16 18:08] #77 closed, assigned to aaronkaplan, ataslim

[2017-01-16 18:11] rufuspollock commented on #53
@aaronkaplan are you ok to do this? I think it is high priority. Maybe we could help you in doing this 😄 (or take it on in some way?)

[2017-01-16 18:13] aaronkaplan commented on #53
Let's talk on the phone / call shortly. I'll be online soon again.

---
Mobile

[2017-01-16 18:15] rufuspollock commented on #75
@aaronkaplan @kxyne this is something to discuss on next tech team call.

[2017-01-25 09:18] zelima opened #86 "Update site with latest data"
Run aggregator script from https://github.com/cybergreen-net/aggregator and update data for site to latest

[2017-01-25 16:43] zelima commented on #86
FIXED latest data Live for:
- staging website https://cybergreen-staging.herokuapp.com.
- http://stats.cybergreen.net/

[2017-01-25 21:58] #86 closed, assigned to zelima

[2017-01-26 07:16] aaronkaplan opened #87 "Missing NTP data"
Hi folks,

we are missing data for NTP it seems:
https://cybergreen-staging.herokuapp.com/

Can you pls. check if it was exported correctly and imported?

[2017-01-26 11:46] chorsley commented on #87
Noted, thanks @aaronkaplan - I'll have a chance to investigate in 10 hours.

[2017-01-27 14:00] ataslim commented on #53
What was the decision here?

[2017-01-27 14:04] aaronkaplan commented on #53
nothing yet :(

Can you please push this forward with Atomatic?

I can offer a server which will host the page and will brilliantly and nicely work with proper SSL certificates and get a "A" rating on ssllabs.com

[2017-01-27 14:07] ataslim commented on #53
What are the implications of a switch? How easy is the switch? Any downtime? What's the cost? How does that cost compare with cloudfare?

[2017-01-27 14:58] chorsley commented on #87
The missing NTP files files (late Nov, Dec, and Jan)  have been added to S3 now through to 20 Jan, and datapackage.json updated. We can close this issue once we've confirmed after @zelima has finished running the aggregation process.

There's a gap on 9 Dec which seems to be present in the upstream data - unable to confirm why just at the moment.

[2017-01-27 15:05] rufuspollock commented on #53
@ataslim switching to @aaronkaplan server is not really an option. The best solution is cloudflare I think as outlined above. We need an account on cloudflare. I can help you set this up and if we can get access we can configure for you.

[2017-01-27 15:09] ataslim commented on #53
Ok and in your opinion would the free plan suffice for our needs?
https://www.cloudflare.com/plans/

On Fri, Jan 27, 2017 at 10:05 AM, Rufus Pollock <notifications@github.com>
wrote:

[2017-01-27 18:29] aaronkaplan commented on #53
Why not? Are we now tied to different cloud services? Not a good plan.

---
Mobile

[2017-01-27 18:35] aaronkaplan commented on #53
From my side there are no real costs involved.
However, I'd first need to understand the workflow of pushing a page to heroku/a web server. That's an implicit requirement by using herokuapp and all the tool stack which Atomatic uses.
If the tools run on a simple web server just as well, it would be rather easy IMHO.

-> Need to discuss with Rufus.

[2017-01-27 19:55] aaronkaplan commented on #53
From my side there are no real costs involved.
However, I'd first need to understand the workflow of pushing a page to heroku/a web server. That's an implicit requirement by using herokuapp and all the tool stack which Atomatic uses.
If the tools run on a simple web server just as well, it would be rather easy IMHO.

[2017-01-27 19:58] aaronkaplan commented on #87
Thanks!

okay.

[2017-01-27 23:56] kxyne commented on #87
I wasn't too worried about the odd missing day because I figured for the
beta we need to account for what we're going to do when we're missing data.
Sometimes there are going to be gaps, we need display methods and metrics
that account for that.

On Sat, Jan 28, 2017 at 6:58 AM AaronK <notifications@github.com> wrote:

--
*Kayne Naughton *| Managing Director

M: +61-418-695-199
E: kayne.naughton@c

[2017-01-28 00:40] chorsley commented on #71
As very handy as this looks, I won't be able to install this in its current state. The Chrome plugin requires full read / write access to all repos, including private repos, deployment keys (I assume it could add new ones?), and repos owned by other organisations that we have been granted access to. There also doesn't seem to be a way to allow the plugin access to only a single repo or organisatio

[2017-01-28 05:06] chorsley opened #88 "Add data sanity check between ETL and aggregation"
Create an independent script which checks:

* Are all expected data sources present on S3?
* Are the number of files available on S3 correct / the right order of magnitude?
* Are the individual file sizes sane?
* Check datapackage.json for inclusion of all sources + files.

This would ideally be forced to run before / integrated with the aggregation script. Any warnings and errors would need to be

[2017-01-28 12:29] aaronkaplan commented on #71
I get @chorsley 's point. There might be contractual requirements that they can not give access to source code (for other clients) to a third party (including zenhub).

[2017-01-28 12:30] aaronkaplan commented on #53
@rufus. Regarding your comment "@ataslim switching to @aaronkaplan server is not really an option." . It is an option.

[2017-01-28 13:53] rufuspollock commented on #53
@aaronkaplan as i noted in chat we discussed this at some length back in Dec and decided on cloudflare option. Happy to discuss again 😄

[2017-01-29 15:02] zelima commented on #87
FIXED data is live for both sites
- https://cybergreen-staging.herokuapp.com/
- http://stats.cybergreen.net/

[2017-01-29 15:02] #87 closed, assigned to rufuspollock, chorsley, kxyne, zelima

[2017-01-30 09:34] zelima commented on #53
Moving to backlog From current milestone for now

[2017-01-30 17:25] zelima commented on #75
@rufuspollock @aaronkaplan @kxyne we should include this into the list of items to be discussed on next team call.
Moving to current milestone

[2017-02-13 09:01] rufuspollock commented on #75
Moving to backlog as this needs a team discussion.

[2017-02-13 13:07] rufuspollock commented on #53
Clearing assignee for time being.

[2017-02-20 11:33] aaronkaplan commented on #53
By now twitter is making fun of us...

https://twitter.com/hanno/status/826778763602051072

[2017-02-23 23:33] rufuspollock opened #89 "Change DNS management for cybergreen.net to cloudflare"
In order to use cloudflare to solve #53 we need to change DNS for cybergreen.net to be handled by cloudflare.

Change is:

Current Nameservers	Change Nameservers to:
flyingdutchman.kawasaki3.org	brianna.ns.cloudflare.com
ns2.he.net	skip.ns.cloudflare.com
ns3.he.net	Remove this nameserver
ns4.he.net	Remove this nameserver
ns5.he.net	Remove this nameserver

@aaronkaplan @motosan can we action this n

[2017-02-24 09:58] aaronkaplan commented on #89
How will we edit the DNS zone files if the main NS records are at cloudflare?

I would like that Moto-san still can edit the DNS zone. Also...

Could you give me and Moto-san access now?
I'd like to check out the cloud flare interface.

Also, do we need to move the NS to cloud flare in the first place?
Why?

[2017-02-24 11:54] rufuspollock commented on #89
@aaronkaplan the reason DNS moves to cloudflare is that is how cloudflare works -- you route traffic through cloudflare to your server. This is how we can sort the https on github. See https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudflare/ for details of what we want to do and this page for how cloudflare works: https://support.cloudflare.com/hc/en-us/articles/205177068-Step-1-H

[2017-02-27 14:37] rufuspollock commented on #67
FIXED. We've done this and reviewed.

[2017-02-27 14:37] #67 closed, assigned to rufuspollock, shiweiart, ataslim

[2017-02-27 21:08] aaronkaplan commented on #89
@rufuspollock @YurieIto @ataslim

So, I did my homework. We have the following situation:

# SSL for the main www.cybergreen.net web site

Agreed with @rufuspollock that **if we go via cloudflare** we have to change the NS record of the zone to point to cloudflare. However, if we could for example simply push the main web site to some regular web server, we could
  1. get regular web site stats  f

[2017-02-28 01:25] aaronkaplan commented on #89
Hi,

Yes I can change NS records for cybergreen.net, and also send the
current version of zone file.

Who is going to maintain the zone file at skip.ns.cloudflare.com ?
I need some A RR in the zone.

Thank you very much.

Best Regards,

--
moto kawasaki <moto.kawasaki@jpcert.or.jp> +81-90-2464-8454

on Fri, 24 Feb 2017 10:58:09 +0100, "L. Aaron Kaplan" <aaron@lo-res.org> wrote:

aaron>
aaron> > On

[2017-02-28 09:19] aaronkaplan commented on #89
Thank you very much Moto,

so, yes please point the NS record to the names that Rufus is giving you.
I'd like you (Moto) and Rufus (and me if I may) to have maintainership of the zone file there.

Please note that this is a temporary solution to allow the main web page (info-site) to use cloudflare . Eventually, we do plan to support regular web servers for the www.cybergreen.net site as well (it'

[2017-02-28 09:44] aaronkaplan commented on #89
Hi Aaron,

Thank you very much for your quick reply.

on Tue, 28 Feb 2017 10:19:28 +0100, "L. Aaron Kaplan" <aaron@lo-res.org> wrote:

aaron> so, yes please point the NS record to the names that Rufus is giving you.

Ok, I will update NS RRs tomorrow (March 1st, around 15:00 JST-9).

aaron> I'd like you (Moto) and Rufus (and me if I may) to have maintainership of the zone file there.

Got it. I'll

[2017-02-28 16:08] zelima opened #90 "[Epic] March 2017 Report Deliverables for JPCERT"
- [ ] Stats portal v.2 with API Access and ASN, country level statistics - lots of screenshots etc
  - [x] Any improvements/changes/ additional functions made between December until now to API functionality, ASN/country level stats and visuals [Atomatic] https://github.com/cybergreen-net/pm/issues/91
  - [ ] Any changes/improvements to orchestration, ETL, automation since December [Cosive]
- [ ] P

[2017-02-28 23:32] rufuspollock commented on #51
We could look at adding some of this to our main docs here https://github.com/cybergreen-net/pm/ - think this would probably be valuable for itself.

Adding to 15 March but on a low priority and optional basis.

[2017-03-01 06:11] aaronkaplan commented on #89
Dear Aaron and Rufus,

Please be informed that I've changed name servers for cybergreen.net.
It runs on cloudflare now.

If whenever anything go wrong, please let me know at cell phone or
emails below.

--
moto kawasaki <moto.kawasaki@jpcert.or.jp> +81-90-2464-8454
              <moto@kawasaki3.org>

moto@flyingdutchman ~$ drill -t ns cybergreen.net @a.gtld-servers.net
;; ->>HEADER<<- opcode: QUER

[2017-03-02 19:03] rufuspollock commented on #89
FIXED.

[2017-03-02 19:04] rufuspollock commented on #53
FIXED. With DNS switch to cloudflare in #89 this now "just works" 😄 🎱

[2017-03-02 19:04] #53 closed, assigned to nobody

[2017-03-03 07:09] zelima opened #91 "Report for improvements/changes made to the stats portal"
Any improvements/changes/ additional functions made between December until now to API functionality, ASN/country level stats and visuals.

[Google doc](https://docs.google.com/document/d/1zIXxkZ5xDYZaE4PtTd6Ndm9Z4Ag4ETSlg1BRDw9dAds/edit)

### Tasks
for each  page that was changed provide (in google docs):
- small description of what has been changed and why
- provide screen shot(s)

[2017-03-03 07:17] zelima opened #92 "Test Report March 2017"
### summery
Includes the testing on system requirement specification and user experiences and improvements

[Google doc](https://docs.google.com/document/d/1kqVkNxfiZCe2llvSfUmNAK_qFUgeDSCUqlyqVjoRQGQ/edit)

### tasks
- [x] Provide with results of tests in docs for
  - [x] [stats-new](https://travis-ci.org/cybergreen-net/stats-new)
     - [x] some improvements first https://github.com/cybergreen-n

[2017-03-03 07:21] zelima opened #93 "Final Documentation on CyberGreen Statistics Portal"
“How to” guide on use of CyberGreen stats portal

[Google doc](https://docs.google.com/document/d/1D96nWl0_kcAjGa1IlS3ARwiYX0jUMeQYPDOpOdvnEDc/edit#)

## Tasks

For each page

- provide a small description of what page is for, what it shows and what may next steps be
- include screen shots

[2017-03-03 07:25] zelima opened #94 "Platform Integration March 2017"
### Summary
Show a thematic integration of info site and stats site (fonts, style, etc.)

[Google doc](https://docs.google.com/document/d/11mx102LteFY6dxyQchOTM9sd_9XVTOykIdbrfRB16f4/edit)

### Tasks
- [x] Provide screen shots in Google doc

[2017-03-03 17:43] aaronkaplan commented on #89
As described above "SSL for the stats (herokuapp) web site."... can we also enable SSL for the stats site (wish by @ataslim )?

[2017-03-03 19:37] rufuspollock commented on #89
FIXED. @aaronkaplan this issue is fixed. Other stuff is separate issues and we already have an issue for this 😉  (i.e. ssl for stats site)

[2017-03-03 19:37] #89 closed, assigned to nobody

[2017-03-07 07:46] aaronkaplan commented on #89
Dear Aaron and Rufus,

How's going there after a while since NS change.
Please tell me if anything wrong!

And I will really appreciate if you add the following A RR to the
zone.

  moto.cybergreen.net. IN A 124.109.182.21

This node hosts my articles on the cybergreen.

Thank you very much.

Best Regards,

--
moto kawasaki <moto.kawasaki@jpcert.or.jp> +81-90-2464-8454

[2017-03-07 08:05] rufuspollock commented on #89
@aaronkaplan do you want to action that? You have access to cloudflare and it would be a good check that you are able to sysadmin it ok.

[2017-03-07 08:16] aaronkaplan commented on #89
---
Mobile

I ll do so.

[2017-03-07 08:18] zelima commented on #92
Results of tests are in [google docs](https://docs.google.com/document/d/1kqVkNxfiZCe2llvSfUmNAK_qFUgeDSCUqlyqVjoRQGQ/edit)

@rufuspollock / @shiweiart Please update with User experience tests (if relevant)

[2017-03-08 06:45] rufuspollock commented on #92
@zelima did you look at the previous report and compare it? I think you can do most of this and ping @shiweiart on channel if you need more.

[2017-03-08 06:47] rufuspollock commented on #94
@zelima you should own this - not @shiweiart Please can you action this -- and ping @shiweiart if you need help.

[2017-03-08 15:06] rufuspollock opened #95 "Do a data load (with new UPnP/SSDP data)"
* [x] Clarify whether this is new risk or continues the SSDP data
  * [ ] and if this is new data source but same risk what will happen with time series (e.g. there will be a lack of continuity) - @aaronkaplan @kxyne
* [ ] <del>Update https://github.com/cybergreen-net/refdata-risk with new risk info if necesseary (@kxyne or @aaronkaplan )</del>
* [x] Run new load after data is live in private stor

[2017-03-08 15:49] aaronkaplan commented on #95
--> according to Cosive : continue the SSDP data. We will switch over to that data after a TBD cut-off day.

Same SSDP

[2017-03-08 16:21] rufuspollock commented on #95
@aaronkaplan thanks for clarification - what about sub-bullet about same risk / different data source question.

[2017-03-08 16:33] aaronkaplan commented on #95
@rufuspollock regarding the lack of continuity:
we checked the data. The info I got from @kxyne is that we can move in the new SSDP data per 16th of Jan 2017. That can be the cut-off day. We *will* continue to keep the old data . And yes, that means there will be a "stair"/jump in the graph. But for that we would like to have an annotiation in the graph. Or at least a text somewhere explaining the

[2017-03-08 18:10] rufuspollock commented on #95
@aaronkaplan we have no facility to do annotations at the moment -- that would be next phase of work.

Re the text: definitely something to flag on ux review call tomorrow.

[2017-03-08 18:14] aaronkaplan commented on #95
Hereby flagged :)

I am also fine (for now) with finding a nice place on the stats site where we explain this as text.

ok?

[2017-03-09 03:49] kxyne commented on #95
Also worth noting that censys does have missing weeks so we still need to account for this and interpolate or whatever.

[2017-03-09 07:58] zelima commented on #93
Mostly FIXED. we may need to updated with latest screenshots if needed on the deadline date

[2017-03-09 08:41] zelima commented on #91
Mostly FIXED. we may need to updated with latest screenshots if needed on the deadline date

[2017-03-09 09:31] rufuspollock commented on #93
FIXED. @ataslim can you review and reopen if you need anything more here

[2017-03-09 11:08] zelima commented on #92
FIXED from our side. reopopen if needed

[2017-03-09 11:08] #93 closed, assigned to zelima, shiweiart

[2017-03-09 11:09] zelima commented on #91
@ataslim please review and reopen if anything is missing

[2017-03-09 11:09] #91 closed, assigned to rufuspollock, zelima, shiweiart

[2017-03-09 11:29] zelima commented on #95
@kxyne Is data already in private store?
I noticed only three file in new folder named `censys-upnp` and plus 2 file uploads for Mirai, is that all?

- Also `datapackage.json` is not updated (which I can do manually for now as there are very few changes)
- @aaronkaplan Running new load as is (with only this updates) will result with an empty tables on `country` page as there will no new data for D

[2017-03-09 14:06] zelima commented on #94
FIXED. @ataslim this include two simple screenshots one from www and one from stats site. Please reopen if we need more.

[2017-03-09 17:51] aaronkaplan opened #96 "add description of all risks (check)"
check wikipedia page description

[2017-03-10 07:03] ataslim commented on #94
I think there are issues with uniformity of CSS across main site and stats site. Look at the headers on the metrics page. Shouldn't they be green if we are using the theme from the info site?

If we can make it uniform across both sites and cite what fonts/styles we use in the report, i think we'll be all set.

[2017-03-11 10:49] rufuspollock commented on #94
@ataslim we can check css stuff and I think you are right that at h3 level we may not be matching styles (@zelima can you check this).

we've done one pass already and I should note that even with similar css there may be some slightly different look as it is hard to align absolutely perfectly because we are using two different html/css frameworks -- bootstrap and bourbon.

@zelima note that metri

[2017-03-11 15:59] zelima commented on #94
@ataslim @rufuspollock this PR aligns styling with main website. Note that we use different green for h1 tags but as we discussed on Thursday call we need more "strict" colors for statistics website.

We use h3 only on metrics page and yes it's slightly different, but as it is going to move off this site, it will not remain as issue any more...

I updated doc with new screen-shots.

Will leave thi

[2017-03-12 12:50] kxyne commented on #95
I was going to fix up the automation for the data package. There are days
missing from censys but we're current now for it and mirai I believe.

On Thu, 9 Mar 2017, 22:29 Irakli Mchedlishvili <notifications@github.com>
wrote:

--
*Kayne Naughton *| Managing Director

M: +61-418-695-199
E: kayne.naughton@cosive.com
W: www.cosive.com

[2017-03-12 20:37] aaronkaplan opened #97 "metrics not implemented according to specs"
To be precise, we did not fully implement the specs of the CG metric - as described by Dr. Dan Geer.
http://www.cybergreen.net/img/medialibrary/CyberGreen%20Metrics%20v.2.pdf

Please note that on page 6, there is a description of the metrics. However, we omitted the rank. I think we have to export the rank (as sequence number in the table) as well as in the /api/*

[2017-03-14 05:26] zelima commented on #95
@kxyne could you please update. What is status for this?
Is this going to happen in this milestone?

[2017-03-14 17:21] rufuspollock commented on #97
@aaronkaplan thanks for flagging. I'm not completely clear from reading the report where we are missing this - do you mean that we don't report ranks or that the computation of the underlying metric is wrong? (I also took metrics to mean the numbers and the rank is something we can compute from the metric but that is semantics!).

If you mean we don't display ranks atm, I can confirm that we do: b

[2017-03-15 05:42] zelima commented on #94
Closing for now

[2017-03-15 05:42] #94 closed, assigned to zelima

[2017-03-15 10:51] aaronkaplan commented on #97
@rufuspollock so I was referring to two things:

1. in a strict (Goedelian rigourous sense) we do not calculate the metrics as defined by [Dr. Geer](http://www.cybergreen.net/img/medialibrary/CyberGreen%20Metrics%20v.2.pdf).
  We should really implement it according to specs. There was a reason for this apparently.
2. The country (overview) page is probably the best place to compare countries by r

[2017-03-16 10:44] ataslim commented on #92
@zelima For section III (user experience tests) can you provide a solution for

"User story: As a CERT and a policy maker I want to see the trend of the Global DDOS potential so that I have a sense of the global security level in the world."

[2017-03-16 10:55] aaronkaplan opened #98 "get reference data: avg/mean upstream and downstream per entity"
For properly calculating the DDoS potential impact, we need to following data:

  * max/avg/mean/stddev upstream speed of
    * a netblock
    * an ASN
    * a country
  * same for the downstream

Potential data sources identified:
  * ookla (speedtest.net)
  * MLAB

[2017-03-16 11:12] zelima commented on #92
FIXED doc updated. (I had 1 solution for 2 different user stories, as they were related. Now they are separated)

[2017-03-16 11:12] #92 closed, assigned to zelima

[2017-03-20 09:43] aaronkaplan opened #99 "bug: rank was calculated per risk instead of per country / ASN"
If you check out the detailed [description of the metric 2.1](http://www.cybergreen.net/2016/10/21/CyberGreen-Metrics-v.2-Method-and-Report-Finalized/), you will see that it has a rank() function over all _risks_ (open NTP, open recursive DNS, etc) . Not a country *within* a risk category.
So, the rank was implemented wrongly! We must sum up all risks and weigh by AF (for 2.1) and _then_ calculate

[2017-03-20 16:30] aaronkaplan opened #100 "DNS and NTP columns are the same because the data in the DB is the same for both risks!"
[code]

[2017-03-20 17:01] aaronkaplan opened #101 "clean up old tables in the RDS DB. (was: country codes ("UK") are sometimes upper case, sometimes lower case in the DB)"
Make this always upper case please.

[2017-03-20 17:13] aaronkaplan opened #102 "the /asn page does not make much sense"
We try to list the number of ASNs per country. But by definition, ASes are somewhat trans-national. Most of the major ones truly are. So,... assigning a country to them is somewhat strange.

We need to think about this.

[2017-03-21 07:22] zelima commented on #100
@aaronkaplan Small note:  We don't use table `count_by_country` any more, but `agg_risk_country_week`. But they are identical

This is not an aggregation issue, but  scanned data for last 3 week for DNS and NTP are identical. Only difference between this two files are risk ID's. So aggregation result is identical obviously.

To check difference for latest week
[code]
No output - files are identica

[2017-03-21 07:33] aaronkaplan commented on #100
Got it. Kayne, chris can you please check?

---
Mobile

[2017-03-21 08:01] zelima commented on #101
@aaronkaplan Could you please be more exact here? Where in DB, which tables?
cause running query
`SELECT count(*) FROM fact_count WHERE country!=UPPER(country);`
Gives no results

Plus country codes column has Foreign-key relation with `dim_country` table and it would simply error when creating that `constraint`, if that would be a case

[2017-03-21 08:12] aaronkaplan commented on #101
Country table :)

That's a minor thing btw.

---
Mobile

[2017-03-21 08:18] zelima commented on #101
We don't use country table any  more, but `dim_country` where codes are uppercased
Closing as FIXED

[2017-03-21 08:21] aaronkaplan commented on #101
Well, if the table is there but it is not used it is not FIXED.
Changing the subject line to "clean up old tables in the RDS DB" then.

This is important to deliver a clean and lean product.

[2017-03-21 08:25] aaronkaplan opened #103 "please change the column type of dim_country"
[code]

--> change to
[code]

[2017-03-21 08:26] zelima commented on #101
FIXED. All unused tables are dropped

[2017-03-21 08:26] #101 closed, assigned to rufuspollock, zelima

[2017-03-21 08:27] aaronkaplan opened #104 "dim_asn -> ASNs are not bigints"
[code]

--> change to
[code]

ASNs are defined by https://tools.ietf.org/html/rfc6793  as 32 bit numbers. Let's stick with that definition pls.

[2017-03-21 08:35] aaronkaplan commented on #101
thanks, confirmed :)

[2017-03-21 09:54] chorsley commented on #100
Acknowledged, Cosive will investigate.

[2017-03-21 10:11] zelima commented on #52
FIXED. Try [cybergreen.net](http://cybergreen.net)

[2017-03-21 10:11] #52 closed, assigned to aaronkaplan

[2017-03-21 10:41] rufuspollock commented on #99
@aaronkaplan this choice here is deliberate and not a bug - the rank in the UI is clearly associated with a given risk. Whilst the new "overall metric" does allow us, in theory, to rank countries overall we have refrained from doing so explicitly in the UI because of the various outstanding issues (essentially it is a DDOS metric and we have risks like Mirai that aren't included, we may get other

[2017-03-21 11:05] aaronkaplan commented on #99
re: "this choice here is deliberate and not a bug " -> then it is implemented wrongly. Please check the original paper.

I will definitely REOPEN this indefinitely (in case it gets closed) until it is fixed (or until Yurie says "okay, we can omit that").
But from a TD perspective, even though it was not noticed, it's software not written according to specs.
@YurieIto any comments?

[2017-03-21 12:41] rufuspollock commented on #97
INVALID / DUPLICATE. The issue is not showing the rank - this was discussed in cybergreen-net/stats-new#194 (we also discussed with @YurieIto and said that some of this would not be shipped necessarily for the 15th of March).

To record the specific issue of showing ranks on the country page we've created this issue. Please follow up there for more on this:

https://github.com/cybergreen-net/stats

[2017-03-21 12:41] #97 closed, assigned to aaronkaplan, zelima

[2017-03-21 12:52] rufuspollock commented on #95
Moving to backlog now - it won't happen for this release and i now outside of SoW3.

[2017-03-21 12:53] rufuspollock commented on #90
FIXED. At Atomatic we've completed all our items and so we'll mark as FIXED as we assume everything was done as needed for delivery.

[2017-03-21 12:53] #90 closed, assigned to chorsley, aaronkaplan, kxyne, ataslim

[2017-03-21 12:55] aaronkaplan commented on #90
confirmed

[2017-03-21 13:20] YurieIto commented on #99
please implement the rank as v.2 metrics paper (by Dan Geer and others)
specifies.
also like to see the description of rank (calculation method) on the
glossary page after implemented.

On Tue, Mar 21, 2017 at 7:05 AM, AaronK <notifications@github.com> wrote:

[2017-03-22 04:11] kxyne commented on #100
This was from a manual file handling issue on the unprocessed files I believe, will rectify along with backprocessing the last weeks files.

[2017-03-22 04:46] aaronkaplan commented on #89
Dear Aaron, Dear Rufus,

Please be reminded for my disappearing domain name. Thanks.

--
moto kawasaki <moto.kawasaki@jpcert.or.jp> +81-90-2464-8454

on Tue, 07 Mar 2017 16:46:06 +0900 (JST), moto kawasaki <moto.kawasaki@jpcert.or.jp> wrote:

moto.kawasaki>
moto.kawasaki>
moto.kawasaki> Dear Aaron and Rufus,
moto.kawasaki>
moto.kawasaki>
moto.kawasaki> How's going there after a while since NS chan

[2017-03-22 11:40] zelima opened #105 "Move scanned, clean data into prod/clean directory on S3"
@chorsley @kxyne Scanned data, that we use for both - production and development -  is still remaining in `private-bits-cybergreen-net/dev/clean/...` directory on amazon S3 and only

We need to move/copy data that belongs to production in `private-bits-cybergreen-net/prod/`.
Without this it is hard to run aggregation and load script - On each load someone has to manually change environmental varia

[2017-03-23 11:41] zelima commented on #95
FIXED data is live http://stats.cybergreen.net/
Note: there is gap in January and February.

[2017-03-23 11:41] #95 closed, assigned to kxyne

[2017-03-23 11:47] aaronkaplan commented on #95
The gap is ok and we can explain it. Thanks.
However, please note that the data that Irakli loaded just now was *not* the UPnP data. It was open NTP project.

[2017-03-27 06:35] kxyne commented on #43
Thought I'd closed this off. The ripe DB doesn't seem to be available and even if we could get it, it would be painful to try to query at any decent speed with historical parameters.

[2017-03-27 06:35] #43 closed, assigned to chorsley

[2017-04-11 13:56] kxyne opened #106 "RDS disk space issue"
It looks like we're short on space in the current RDS instance, are there other DBs in it @zelima or do we need to reinstantiate with more disk?
<details>
Traceback (most recent call last):
  File "/home/cybergreen/etl2/venv/lib/python3.4/site-packages/luigi/worker.py", line 328, in check_complete
    is_complete = task.complete()
  File "/home/cybergreen/etl2/venv/lib/python3.4/site-packages/luig

[2017-04-11 14:32] zelima commented on #106
@kxyne This is not RDS but Redshift error and yes we may lack disk space there, as we currently have the default (smallest) Node type.
[code]

this is the screenshot after today's run
![image](https://cloud.githubusercontent.com/assets/15143785/24914405/34bf4fe8-1ee5-11e7-8908-fe278e20911f.png)

[2017-04-11 20:02] kxyne commented on #106
Definitely the cause, however it seems to sit at 45% full all the time.

Is there another db on it? I'll spin up a new redshift for this run but we need to clean up any old datasets on it too.

Definitely the cause, however it seems to sit at 45% full all the time.

Is there another db on it? I'll spin up a new redshift for this run but we need to clean up any old datasets on it too.

![diskfill](

[2017-04-11 20:58] zelima commented on #106
@kxyne My guess here is that first query was executed fine, which loads scanned data into `logentry` table and went out of space while second query was executing and exited with error. This left first table full. I checked right now the dev database and `logentry` table is full.

Aggregator script drops all tables before it starts load and after aggregated data is unloaded to S3 successfully.

I d

[2017-04-11 21:20] kxyne commented on #106
Ah, so it's full because of the previous run, that makes sense, sorry, a bit tired :)

[2017-04-18 11:46] rufuspollock opened #107 "Tidy up public S3 bucket"
I suspect this data is now obsolete: http://bits.cybergreen.net/dev/clean/

Also, the reference files don't seem to be in http://bits.cybergreen.net/dev/stats/ (should they be)?

[2017-04-18 11:53] zelima commented on #107
@rufuspollock correct, we should remove `dev/clean` as well as `prod/clean`  that are the leftovers from old runs, before DW refactor.
Reference files should not be anywhere on s3 any  more they are placed in Github:
- https://github.com/cybergreen-net/refdata-asn
- https://github.com/cybergreen-net/refdata-risk
- https://github.com/cybergreen-net/refdata-country

[2017-04-18 12:26] rufuspollock commented on #107
@zelima sounds good. Re reference data files i think we need to still link them from the download page. In a perfect world we'd make a data package and list them ;-)

[2017-04-18 12:32] aaronkaplan commented on #107
+1 good idea